@using Helezon.FollowMe.WebUI.Models.ViewModels
@model HazirGiyimEditVm
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutZetaCode.cshtml";
    var update = Model != null && Model.HazirGiyim != null && Model.HazirGiyim.Id > 0;
}

@section afterGlobalStyles
    {

    @*<link href="~/Content/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinModern.css" rel="stylesheet" />*@

    @*<link href="~/Content/global/plugins/nouislider/nouislider.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/global/plugins/nouislider/nouislider.pips.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/noUiSlider/nouislider.min.css" rel="stylesheet" />
    <style>
        .noUi-tooltip {
            display: none;
        }

        .noUi-active .noUi-tooltip {
            display: block;
        }
    </style>
}

<form action="/ZetaCodeHazirGiyim/Edit" id="frmZetaCodeHazirGiyim" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.HazirGiyim.Id)
    @Html.HiddenFor(model => model.HazirGiyim.ZetaCode)

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Zeta Code Hazir Giyim @(update ? "Edit Page" : "Create Page")
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-group accordion" id="accordion1">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Group #1 </a>
                        </h4>
                    </div>
                    <div id="collapse_1" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            @if (update)
                                            {

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HazirGiyim.IsPassive, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("HazirGiyim.IsPassive", MyHtmlHelpers.SelectListForBoolean(Model.HazirGiyim.IsPassive), "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.HazirGiyim.IsPassive, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HazirGiyim.Id, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               readonly
                                                               class="form-control transform_none"
                                                               id="HazirGiyim_Id"
                                                               value="@Model.HazirGiyim.Id" />
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HazirGiyim.ZetaCodePrevious
, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.HazirGiyim.ZetaCodePrevious
         , new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.HazirGiyim.ZetaCodePrevious
          , "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HazirGiyim.Master, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("HazirGiyim.Master", MyHtmlHelpers.SelectListForBoolean(Model.HazirGiyim.Master), "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.HazirGiyim.Master, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            @if (!update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HazirGiyim.CompanyId
    , "Blue Cod Name"
    , htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("HazirGiyim.CompanyId"
             , Model.Collections.Sirketler, "Please Select"
             , htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.HazirGiyim.CompanyId
    , "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="hidden" name="HazirGiyim.SirketId"
                                                       id="ZetaCodeNormalIplikDto_SirketId"
                                                       value="@Model.HazirGiyim.CompanyId" />
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HazirGiyim.CompanyId
    , "Blue Cod Name"
    , htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               class="form-control"
                                                               readonly
                                                               value="@(Model.Company.Code + " " + Model.Company.Name)" />
                                                    </div>
                                                </div>
                                            }


                                            @if (update)
                                            {

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.HazirGiyim.BlueSiparisNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.HazirGiyim.BlueSiparisNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.HazirGiyim.BlueSiparisNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }





                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ulke.Id, "Ürün Menşei", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("Ulke.Id", Model.Collections.Ulkeler, "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.Ulke.Id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HazirGiyim.BlueUrunKodIsmi, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.HazirGiyim.BlueUrunKodIsmi, new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.HazirGiyim.BlueUrunKodIsmi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.HazirGiyim.UrunKategoriId, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            @Html.HiddenFor(model => model.HazirGiyim.UrunKategoriId)
                                                            @Html.TextBoxFor(model => model.UrunKategori.Name, new { @class = "form-control" })
                                                            <br />
                                                            <div id="treeHazirGiyimKategorileri"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_kumas_ve_aksesuar"> Kumaş ve Aksesuar Seç  </a>
                        </h4>
                    </div>
                    <div id="collapse_kumas_ve_aksesuar" class="panel-collapse collapse">
                        <div class="panel-body">

                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">
                                    @{
                                        //var normalIplikCount = Model.ZetaCodeFanteziIplikDto.ZetaCodeNormalIplik.Count;
                                        var normalIplikCount = 0;
                                    }
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="normal_iplik_count">Kaç Kumaştan Oluşuyor</label>
                                        <div class="col-md-6">
                                            <select id="kumas_counter" class="form-control">
                                                <option value="">Please Select</option>
                                                <option @(normalIplikCount == 1 ? "selected" : "") value="1">1</option>
                                                <option @(normalIplikCount == 2 ? "selected" : "") value="2">2</option>
                                                <option @(normalIplikCount == 3 ? "selected" : "") value="3">3</option>
                                                <option @(normalIplikCount == 4 ? "selected" : "") value="4">4</option>
                                                <option @(normalIplikCount == 5 ? "selected" : "") value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:void(0);"> Zeta Code Kumaşlar </a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            <div class="mt-repeater1">
                                                <div data-repeater-list="Kumaslar">
                                                    @{
                                                        for (int i = 0; i < Model.Kumaslar.Count; i++)
                                                        {

                                                            <text>
                                                                <div data-repeater-item>
                                                                    <div class="mt-repeater-item">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    @Html.DropDownList("Id"
                                                                                        , new SelectList(Model.Collections.Kumaslar, "Id", "ZetaCode", Model.Kumaslar[i].Id)
                                                                                        , "Please Select"
                                                                                        , new { @class = "form-control select2", @onchange = "" })
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0">
                                                                                        <i class="fa fa-close"></i> Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" id="">
                                                                                @*@Html.Action("GetNormalIplikRenkler", new { normalIplikId = normalIplik.Id })*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </text>
                                                        }
                                                    }
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr />
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">
                                    @{
                                        //var normalIplikCount = Model.ZetaCodeFanteziIplikDto.ZetaCodeNormalIplik.Count;
                                        normalIplikCount = 0;
                                    }
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="normal_iplik_count">Kaç Aksesuardan Oluşuyor</label>
                                        <div class="col-md-6">
                                            <select id="aksesuar_counter" class="form-control">
                                                <option value="">Please Select</option>
                                                <option @(normalIplikCount == 1 ? "selected" : "") value="1">1</option>
                                                <option @(normalIplikCount == 2 ? "selected" : "") value="2">2</option>
                                                <option @(normalIplikCount == 3 ? "selected" : "") value="3">3</option>
                                                <option @(normalIplikCount == 4 ? "selected" : "") value="4">4</option>
                                                <option @(normalIplikCount == 5 ? "selected" : "") value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:void(0);"> Zeta Code Aksesuarlar </a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            <div class="mt-repeater2">
                                                <div data-repeater-list="Aksesuarlar">
                                                    @{
                                                        for (int i = 0; i < Model.Aksesuarlar.Count; i++)
                                                        {

                                                            <text>
                                                                <div data-repeater-item>
                                                                    <div class="mt-repeater-item">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    @Html.DropDownList("Id"
                                                                                        , new SelectList(Model.Collections.Aksesuarlar, "Id", "ZetaCode", Model.Aksesuarlar[i].Id)
                                                                                        , "Please Select"
                                                                                        , new { @class = "form-control select2", @onchange = "" })
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0">
                                                                                        <i class="fa fa-close"></i> Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" id="">
                                                                                @*@Html.Action("GetNormalIplikRenkler", new { normalIplikId = normalIplik.Id })*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </text>
                                                        }
                                                    }
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @Html.Partial("_MyPartialYikamaTalimati",model:new ZetaCodeYikamaTalimatiEditVm
          {
              YikamaTalimati = Model.YikamaTalimati,
              Collections=new ZetaCodeYikamaTalimatiEditVmCollections {

                  YikamaSekilleri = Model.Collections.YikamaSekilleri

              }

          })


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_ucuncu_adim"> 3. ADIM ISLEMLER </a>
                        </h4>
                    </div>
                    <div id="collapse_ucuncu_adim" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.HazirGiyim.BaskiGoruntuId, "Baskı Görüntü", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.HazirGiyim.BaskiGoruntuId, Model.Collections.BaskiGoruntuler, "Please Select", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.HazirGiyim.BaskiGoruntuId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_kalip_bedenler"> KALIP VE BEDENLER </a>
                        </h4>
                    </div>
                    <div id="collapse_kalip_bedenler" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="portlet box blue">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Beden Ölçüleri
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body">
                                    <div class="row">
                                        <div class="col-md-3 col-sm-3 col-xs-3">
                                            <ul class="nav nav-tabs tabs-left">
                                                <li class="active">
                                                    <a href="#tab_6_1" data-toggle="tab"> Boy </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_6_2" data-toggle="tab"> En </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_6_3" data-toggle="tab"> Kolboyu </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_6_4" data-toggle="tab"> Omuz </a>
                                                </li>
                                                <li>
                                                    <a href="#tab_6_5" data-toggle="tab"> Ense </a>
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="col-md-9 col-sm-9 col-xs-9">
                                            <div class="tab-content">
                                                <div class="tab-pane active" id="tab_6_1">
                                                    <div class="form-horizontal form-bordered form-row-stripped">
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].Xs, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].S, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].M, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].L, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].Xl, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].Xl2, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].Xl3, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].Xl4, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[0].Xl5, "MyTouchSpin")
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_6_2">
                                                    <div class="form-horizontal form-bordered form-row-stripped">
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].Xs, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].S, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].M, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].L, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].Xl, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].Xl2, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].Xl3, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].Xl4, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[1].Xl5, "MyTouchSpin")
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_6_3">
                                                    <div class="form-horizontal form-bordered form-row-stripped">
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].Xs, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].S, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].M, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].L, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].Xl, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].Xl2, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].Xl3, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].Xl4, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[2].Xl5, "MyTouchSpin")
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_6_4">
                                                    <div class="form-horizontal form-bordered form-row-stripped">
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].Xs, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].S, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].M, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].L, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].Xl, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].Xl2, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].Xl3, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].Xl4, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[3].Xl5, "MyTouchSpin")
                                                    </div>
                                                </div>
                                                <div class="tab-pane fade" id="tab_6_5">
                                                    <div class="form-horizontal form-bordered form-row-stripped">
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].Xs, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].S, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].M, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].L, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].Xl, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].Xl2, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].Xl3, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].Xl4, "MyTouchSpin")
                                                        @Html.EditorFor(x => x.BedenOlculeri[4].Xl5, "MyTouchSpin")
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_renkler"> Renk </a>
                        </h4>
                    </div>
                    <div id="collapse_renkler" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HazirGiyim.PantoneId, "Pantone Renkle", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownList("HazirGiyim.PantoneId"
                                               , new SelectList(Model.Collections.PantoneRenkler, "Value", "Text", Model.HazirGiyim.PantoneId.HasValue ? Model.HazirGiyim.PantoneId.ToString() : "")
                                               , "Please Select"
                                               , htmlAttributes: new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.HazirGiyim.PantoneId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.HazirGiyim.Renkid, "Renkler", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("HazirGiyim.Renkid"
                                            , new SelectList(Model.Collections.Renkler, "Value", "Text", Model.HazirGiyim.Renkid.HasValue ? Model.HazirGiyim.Renkid.ToString() : "")
                                            , "Please Select"
                                            , htmlAttributes: new { @class = "form-control select2", @onchange = "setHtmlColorCode($(this))" })
                                            @Html.ValidationMessageFor(model => model.HazirGiyim.Renkid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-default btn-block" id="renkidhtml">&nbsp;</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_rafyerleri"> Raf Yerleri </a>
                        </h4>
                    </div>
                    <div id="collapse_rafyerleri" class="panel-collapse collapse">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-body">
                                <div class="panel-body">

                                    @*<div class="form-group">
                                @Html.LabelFor(model => model.HazirGiyim.KumasGoruntuId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    @Html.DropDownList("HazirGiyim.KumasGoruntuId"
                                               , new SelectList(Model.Collections.KumasGoruntuleri, "Value", "Text", Model.HazirGiyim.KumasGoruntuId.HasValue ? Model.HazirGiyim.KumasGoruntuId.ToString() : "")
                                               , "Please Select"
                                               , new { @class = "form-control select2" })
                                </div>
                            </div>*@

                                    @*<div class="form-group">
                                @Html.LabelFor(model => model.HazirGiyim.KoleksiyonKategoriId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            @Html.HiddenFor(model => model.HazirGiyim.KoleksiyonKategoriId)
                                            @Html.TextBoxFor(model => model.HazirGiyim.KoleksiyonKategori.Name, new { @class = "form-control" })
                                            <br />
                                            <div id="treeKoleksiyonKategorileri"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.HazirGiyim.RafyeriTurkiyeId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:150px; overflow-y:auto;">
                                                    @Html.HiddenFor(x => x.HazirGiyim.RafyeriTurkiyeId)
                                                    @Html.TextBoxFor(x => x.RafyeriTurkiye.Name, new { @class = "form-control" })
                                                    <br />
                                                    <div id="treeRafyeriTurkiye">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.HazirGiyim.RafyeriYunanistanId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:150px; overflow-y:auto;">
                                                    @Html.HiddenFor(x => x.HazirGiyim.RafyeriYunanistanId)
                                                    @Html.TextBoxFor(x => x.RafyeriYunanistan.Name, new { @class = "form-control" })
                                                    <br />
                                                    <div id="treeRafyeriYunanistan">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="submit" onclick="validateSomeFields()" class="btn green btn-block">
                                            @*<i class="fa fa-pencil"></i>*@ Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section afterGlobalScripts
{
    @*<script src="~/Content/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>*@

    @*<script src="~/Content/global/plugins/nouislider/wNumb.min.js" type="text/javascript"></script>
        <script src="~/Content/global/plugins/nouislider/nouislider.min.js" type="text/javascript"></script>*@

    <script src="~/Content/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="~/Content/noUiSlider/wNumb.js"></script>
    <script src="~/Content/noUiSlider/nouislider.min.js"></script>
    <script src="~/Scripts/ComponentsNoUiSliders.js"></script>
    <script src="~/Scripts/ComponentsRepeater.js"></script>
    <script>


        var modulKumasOrmeDokuma = (function () {

            var ajaxTreeFillTermTree = function (selector, url, valueElement, textElement, multiple, parentContainer, checkbox) {
                var tmp = $(selector).jstree(true);
                if (tmp) {
                    tmp.destroy();
                }

                if (typeof parentContainer === "undefined") {
                    parentContainer = ".panel-body";
                }

                if (typeof multiple === "undefined") {
                    multiple = false;
                }

                if (typeof checkbox === "undefined" || checkbox === null) {
                    checkbox = {
                        'keep_selected_style': false,
                        'three_state': false,
                        'cascade': ''
                    };
                }

                $(selector).jstree({
                    'plugins': ['search', 'checkbox', 'wholerow'],
                    'core': {
                        "multiple": multiple,
                        'data': {
                            'url': function (node) {
                                return url;
                            }
                            //,
                            //'data': function (node) {
                            //    //console.log(node);

                            //    return { 'parent': node.id };
                            //}
                        },
                        'animation': false,
                        //'expand_selected_onload': true,
                        'themes': {
                            'icons': false,
                        }
                    },
                    'search': {
                        'show_only_matches': true,
                        'show_only_matches_children': true
                    },
                    'checkbox': checkbox
                });

                $(selector).on('changed.jstree',
                    function (e, data) {
                        var i, j, ids = [], texts = [];
                        for (i = 0, j = data.selected.length; i < j; i++) {
                            var node = data.instance.get_node(data.selected[i]);
                            ids.push(node.id);
                            texts.push(node.text);
                        }
                        debugger;
                        var valueElyafCinsiKalitesi = $(selector).closest(parentContainer).find(valueElement);
                        valueElyafCinsiKalitesi.empty();
                        $(valueElyafCinsiKalitesi).val(ids.join(', '));

                        var txtElyafCinsiKalitesi = $(selector).closest(parentContainer).find(textElement);
                        txtElyafCinsiKalitesi.empty();
                        $(txtElyafCinsiKalitesi).val(texts.join(', '));

                        //$(txtElyafCinsiKalitesi).val(texts.join(', '));


                        if (typeof changedCallBackFunc !== 'undefined' && changedCallBackFunc !== null) {
                            changedCallBackFunc();
                        }



                    });
            };

            return {

                ajaxTreeFillTermTree: ajaxTreeFillTermTree

            };

        })();


        function setHtmlColorCode(dll) {
            var htmlColorText = dll.find("option:selected").val();
            if (htmlColorText.length > 0) {
                dll.closest(".form-group").find("#renkidhtml").css('background-color', htmlColorText.split("|")[1]);
            }
        }

        function setNormalIplikId(dll) {
            if ($(dll).val() > 0) {
                $(dll).closest(".mt-repeater-item").find(".normal_iplik_id").val($(dll).val())
                getNormalIplikRenkler($(dll).val(), $(dll).closest(".mt-repeater-item").find("#normal_iplik_form"));
            }

        }








        jQuery(document).ready(function () {

            ComponentsRepeater.myRepeater('.mt-repeater1',function () {
                var tempValue = $("#kumas_counter").val();
                console.log(tempValue);
                var tempValue = $(".mt-repeater1 .form-group").length;
                console.log(tempValue);
                return ($("#kumas_counter").val() * 1) >= $(".mt-repeater1 .form-group").length;               


            });

            ComponentsRepeater.myRepeater('.mt-repeater2', function () {

                var tempValue = $("#aksesuar_counter").val();
                console.log(tempValue);
                var tempValue = $(".mt-repeater2 .form-group").length;
                console.log(tempValue);
                return ($("#aksesuar_counter").val()*1) >= $(".mt-repeater2 .form-group").length; 


            });
            //ComponentsNoUiSliders.myNoUiSlidersStater("#En", 0.1, 150, 0.1,false,2);
            //ComponentsNoUiSliders.myNoUiSlidersStater("#Boy", 0.1, 150, 0.1,false, 2);
            //ComponentsNoUiSliders.myNoUiSlidersStater("#Gram", 0.1, 1000, 0.1, false, 2);

            for (var i = 0; i < 5; i++) {

                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__Xs", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__S", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__M", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__L", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__Xl", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__Xl2", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__Xl3", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__Xl4", 0.1, 200, 0.1, false, 2);
                ComponentsNoUiSliders.myNoUiSlidersStater("#BedenOlculeri_" + i + "__Xl5", 0.1, 200, 0.1, false, 2);
            }

            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_YikamaMaxDerecesi", 20, 100, 5);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_UtulemeMaxDerecesi", 20, 100, 5);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_Cekemezlik", -30, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_Donmezlik", -30, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_YikamaAdedi", 1, 30, 1);

            //



            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeHazirGiyimKategorileri"
                , "/ZetaCodeNormalIplik/JSTreeHazirGiyimKategorileri"
                , "#HazirGiyim_UrunKategoriId"
                , "#HazirGiyim_UrunKategori_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeRafyeriTurkiye"
                , "/ZetaCodeNormalIplik/JSTreeRafyeriTurkiyeId"
                , "#HazirGiyim_RafyeriTurkiyeId"
                , "#HazirGiyim_RafyeriTurkiye_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeRafyeriYunanistan"
                , "/ZetaCodeNormalIplik/JSTreeRafyeriYunanistanId"
                , "#HazirGiyim_RafyeriYunanistanId"
                , "#HazirGiyim_RafyeriYunanistan_Name");


            //modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeBoyaIslemleri"
            //    , "/ZetaCodeNormalIplik/JSTreeBoyaIslemleri"
            //    , "#HazirGiyim_BoyaIslemleriIds"
            //    , "#HazirGiyim_BoyaIslemleri", true, ".form-group");


            //modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeAksesuarlar"
            //    , "/ZetaCodeNormalIplik/JSTreeAksesuarlar"
            //    , "#HazirGiyim_AksesuarIds"
            //    , "#HazirGiyim_Aksesuarlar", true, ".form-group");



        });
    </script>
}