@model Helezon.FollowMe.WebUI.Controllers.ProductVm


<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_iplik_sec"> FANTAZI BUKUMLU GIPE - IPLIK SECME </a>
        </h4>
    </div>
    <div id="collapse_iplik_sec" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-horizontal form-bordered form-row-stripped fantazi_iplik_secme">
                <div class="form-body">
                    @{
                        var normalIplikCount = Model.KarsimdakiIplikler.Count;
                    }
                    <div class="form-group">
                        <label class="control-label col-md-2" for="normal_iplik_count">İplik No Cinsi</label>
                        <div class="col-md-6">
                            <select id="ZetaCodeNormalIplikDto_IplikNoCinsi"
                                    onchange="javascript:setVisibleiplikNoiplikSecme($(this))"
                                    name="Product.IplikNoCinsi"
                                    class="form-control">
                                <option value="">Please Select</option>
                                @*<option @(Model?.Product.IplikNoCinsi == "NE" ? "selected" : string.Empty ) value="NE">NE</option>*@
                                <option @(Model.Product.IplikNoCinsi == "NM" ? "selected" : string.Empty ) value="NM">NM</option>
                                <option @(Model.Product.IplikNoCinsi == "DNY" ? "selected" : string.Empty ) value="DNY">DNY</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-2" for="normal_iplik_count">Kaç İplikten Oluşuyor</label>
                        <div class="col-md-6">
                            <select id="normal_iplik_count" class="form-control">
                                <option value="">Please Select</option>
                                <option @(normalIplikCount == 1 ? "selected" : "") value="1">1</option>
                                <option @(normalIplikCount == 2 ? "selected" : "") value="2">2</option>
                                <option @(normalIplikCount == 3 ? "selected" : "") value="3">3</option>
                                <option @(normalIplikCount == 4 ? "selected" : "") value="4">4</option>
                                <option @(normalIplikCount == 5 ? "selected" : "") value="5">5</option>
                            </select>
                        </div>
                    </div>
                    <div class="ea_iplik_no" style="display: none;">
                        @Html.EditorFor(x => x.Product.Ne, templateName: "MyTouchSpin")
                    </div>
                    <div class="nm_iplik_no" style="display: none;">
                        @Html.EditorFor(x => x.Product.Nm, templateName: "MyTouchSpin")
                    </div>
                    <div class="dny_iplik_no" style="display: none;">
                        @Html.EditorFor(x => x.Product.Dny, templateName: "MyTouchSpin")
                    </div>
                    <div class="fl_iplik_no" style="display: none;">
                        @Html.EditorFor(x => x.Product.Fl, templateName: "MyTouchSpin")
                    </div>
                </div>
            </div>
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" href="javascript:void();"> Normal Ham Düz İplikler </a>
                    </h4>
                </div>
                <div class="panel-body">
                    <div class="form-horizontal form-bordered form-row-stripped">
                        <div class="form-body">
                            <div class="mt-repeater">
                                <div data-repeater-list="KarsimdakiIplikler">
                                    @{
                                        for (int i = 0; i < Model.KarsimdakiIplikler.Count; i++)
                                        {

                                            <text>
                                                <div data-repeater-item>
                                                    <div class="mt-repeater-item">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-2">
                                                                </div>
                                                                <div class="col-md-6">
                                                                    @Html.DropDownList("Value", new SelectList(Model.Collections.Iplikler, "Value", "Name", Model.KarsimdakiIplikler[i].Value), "Please Select", new { @class = "form-control select2 normal_iplik" })
                                                                </div>
                                                                <div class="col-md-2">
                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                                        <i class="fa fa-close"></i> Delete
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            @*<div class="row" id="normal_iplik_form">
                                                                    @Html.Action("GetNormalIplikRenkler", new { normalIplikId = Model.KarsimdakiIplikler[i].Id })
                                                                </div>*@
                                                        </div>
                                                    </div>
                                                </div>
                                            </text>
                                        }
                                    }
                                </div>
                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                    <i class="fa fa-plus"></i> Add
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>