@model FollowMe.Web.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<!-- BEGIN REGISTRATION FORM -->
<form class="register-form" action="@Url.Action("Register","Account")" method="post">
    @Html.AntiForgeryToken()
    <h3 class="font-green">Sign Up</h3>
    <p class="hint"> Enter your personal details below: </p>
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        @*<label class="control-label visible-ie8 visible-ie9">Email</label>*@
        @Html.LabelFor(m => m.Fullname, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />*@
        @Html.TextBoxFor(m => m.Fullname, new { @class = "form-control placeholder-no-fix", placeholder = "Fullname" })
    </div>
    <div class="form-group">
        @*<label class="control-label visible-ie8 visible-ie9">Address</label>*@
        @Html.LabelFor(m => m.Address, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="text" placeholder="Address" name="address" />*@
        @Html.TextBoxFor(m => m.Address, new { @class = "form-control placeholder-no-fix", placeholder = "Address" })

    </div>
    <div class="form-group">
        @*<label class="control-label visible-ie8 visible-ie9">City/Town</label>*@
        @Html.LabelFor(m => m.City, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="text" placeholder="City/Town" name="city" />*@
        @Html.TextBoxFor(m => m.City, new { @class = "form-control placeholder-no-fix", placeholder = "City/Town" })
    </div>
    <div class="form-group">
        <label class="control-label visible-ie8 visible-ie9">Country</label>
        @*<select name="country" class="form-control"></select>*@
        @Html.DropDownListFor(x => x.Country, (IEnumerable<SelectListItem>)ViewBag.ListCountry, new { @class = "form-control" })
    </div>
    <p class="hint"> Enter your account details below: </p>
    <div class="form-group">
        <!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
        @*<label class="control-label visible-ie8 visible-ie9">Email</label>*@
        @Html.LabelFor(m => m.Email, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="text" placeholder="Email" name="email" />*@
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control placeholder-no-fix", placeholder = "Email" })
    </div>
    <div class="form-group">
        @*<label class="control-label visible-ie8 visible-ie9">Username</label>*@
        @Html.LabelFor(m => m.UserName, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Username" name="username" />*@
        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control placeholder-no-fix", placeholder = "Username", autocomplete = "off" })

    </div>
    <div class="form-group">
        @*<label class="control-label visible-ie8 visible-ie9">Password</label>*@
        @Html.LabelFor(m => m.Password, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="password" autocomplete="off" id="register_password" placeholder="Password" name="password" />*@
        @Html.PasswordFor(m => m.Password, new { @class = "form-control placeholder-no-fix", placeholder = "Password", autocomplete = "off", id = "register_password" })

    </div>
    <div class="form-group">
        @*<label class="control-label visible-ie8 visible-ie9">Re-type Your Password</label>*@
        @Html.LabelFor(m => m.Rpassword, new { @class = "control-label visible-ie8 visible-ie9" })
        @*<input class="form-control placeholder-no-fix" type="password" autocomplete="off" placeholder="Re-type Your Password" name="rpassword" />*@
        @Html.PasswordFor(m => m.Rpassword, new { @class = "form-control placeholder-no-fix", placeholder = "Re-type Your Password", autocomplete = "off" })

    </div>
    <div class="form-group margin-top-20 margin-bottom-20">
        <label class="mt-checkbox mt-checkbox-outline">
            @*<input type="checkbox" name="tnc" /> I agree to the (TNC - Terms and Conditions)*@
            @Html.CheckBoxFor(m => m.Tnc)
            @Html.DisplayNameFor(m => m.Tnc)
            <a href="javascript:;">Terms of Service </a> &
            <a href="javascript:;">Privacy Policy </a>
            <span></span>
        </label>
        <div id="register_tnc_error"> </div>
    </div>
    <div class="form-actions">
        @*<button type="button" id="register-back-btn" class="btn green btn-outline">Back</button>*@
        <button type="submit" id="register-submit-btn" class="btn btn-success uppercase pull-right">Submit</button>
    </div>
</form>
<!-- END REGISTRATION FORM -->

