@model Helezon.FollowMe.WebUI.Models.ViewModels.ZetaCodeKumasMakineEditVm

<div class="panel panel-default">
    <div class="panel-heading">
        <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_makine_sec"> MAKINE DETAYLARI </a>
        </h4>
    </div>
    <div id="collapse_makine_sec" class="panel-collapse collapse">
        <div class="panel-body">
            <div class="form-horizontal form-bordered form-row-stripped">
                <div class="form-group">
                    <label class="control-label col-md-2">KumasMakine Markası</label>
                    <div class="col-md-6">
                        @Html.HiddenFor(x => x.MakineMarkasi.Id)
                        @Html.TextBoxFor(x => x.MakineMarkasi.Name, new { @class = "form-control", @readonly = "" })
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                <div id="treeMakineMarkalar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">KumasMakine Modeli</label>
                    <div class="col-md-6">
                        @Html.HiddenFor(x => x.MakineModeli.Id)
                        @Html.TextBoxFor(x => x.MakineModeli.Name, new { @class = "form-control", @readonly = "" })
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                <div id="treeMakineModeller">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.EditorFor(x => x.KumasMakine.ModelYili, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.Pus, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.Fine, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.YedekFine, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.Sistem, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.IgneSayisi, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.HamGr, templateName: "MyTouchSpin")
                @Html.EditorFor(x => x.KumasMakine.HamCm, templateName: "MyTouchSpin")
                <div class="form-group">
                    <label class="control-label col-md-2">Aksesuarlar</label>
                    <div class="col-md-6">
                        @Html.HiddenFor(x => x.KumasMakine.AksesuarIds)
                        <textarea rows="2"
                                  readonly
                                  cols="20"
                                  id="Aksesuarlar"
                                  value="@(string.Join(",",Model.Aksesuarlar.Select(x => x.Name)))"
                                  class="form-control"></textarea>
                        <br />
                        <div class="panel panel-default">
                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                <div id="treeAksesuarlar">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.KumasMakine.TupAcikEnId, "TupAcikEnler", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownList("KumasMakine.TupAcikEnId", new SelectList(Model.Collections.TupAcikEnler, "Value", "Name", Model.KumasMakine.TupAcikEnId), "Please Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.KumasMakine.TupAcikEnId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(x => x.KumasMakine.ElastanId, "Elastanlar", htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.DropDownList("KumasMakine.ElastanId", new SelectList(Model.Collections.Elastanlar, "Value", "Name", Model.KumasMakine.ElastanId), "Please Select", new { @class = "form-control" })
                        @Html.ValidationMessageFor(x => x.KumasMakine.ElastanId, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>

