@model IEnumerable<FollowMe.Web.Models.Company>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ParentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyRootTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompanyTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Brand)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TaxOffice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TradeRegisterNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FoundingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsWebsiteAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Website)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonWhyPassiveId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReasonWhyPassiveTermName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonLimit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PersonLimitPercent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceStartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ServiceEndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsPassive)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChangedBy)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ParentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyRootTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TaxOffice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TradeRegisterNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FoundingDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsWebsiteAvailable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Website)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonWhyPassiveId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReasonWhyPassiveTermName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonLimit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PersonLimitPercent)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceStartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ServiceEndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPassive)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedOn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChangedBy)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
