@using Helezon.FollowMe.WebUI.Models.ViewModels
@model ZetaCodeKumasOrmeDokumaEditVm
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutZetaCode.cshtml";
    var update = Model != null && Model.KumasOrmeDokumaDto != null && Model.KumasOrmeDokumaDto.Id > 0;
}

@section afterGlobalStyles
    {

    @*<link href="~/Content/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinModern.css" rel="stylesheet" />*@

    @*<link href="~/Content/global/plugins/nouislider/nouislider.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/global/plugins/nouislider/nouislider.pips.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/noUiSlider/nouislider.min.css" rel="stylesheet" />
    <style>
        .noUi-tooltip {
            display: none;
        }

        .noUi-active .noUi-tooltip {
            display: block;
        }
    </style>
}

<form action="/ZetaCodeFanteziIplik/Edit" id="frmZetaCodeFanteziIplik" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.KumasOrmeDokumaDto.Id)
    @Html.HiddenFor(model => model.KumasOrmeDokumaDto.ZetaCode)

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Zeta Code Örme Kumaş Dokuma @(update ? "Edit Page" : "Create")
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-group accordion" id="accordion1">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Group #1 </a>
                        </h4>
                    </div>
                    <div id="collapse_1" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            @if (update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokumaDto.IsPassive, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <div class="checkbox">
                                                            @Html.EditorFor(model => model.KumasOrmeDokumaDto.IsPassive, new { SelectName = "KumasOrmeDokumaDto.IsPassive", SelectId = "ZetaCodeNormalIplikDto_IsPassive" })
                                                            @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.IsPassive, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokumaDto.ZetaCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               readonly
                                                               class="form-control transform_none"
                                                               id="ZetaCodeFanteziIplikDto_ZetaCode"
                                                               value="@Model.KumasOrmeDokumaDto.ZetaCodeFormatli" />
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokumaDto.ZetaCodePrevious
                                           , htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.KumasOrmeDokumaDto.ZetaCodePrevious
                                                        , new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.ZetaCodePrevious
                                                         , "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokumaDto.Master
                                           , htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    <div class="checkbox">
                                                        @Html.EditorFor(model => model.KumasOrmeDokumaDto.Master
                                                   , new { SelectName = "KumasOrmeDokumaDto.Master", SelectId = "ZetaCodeNormalIplikDto_Master" })
                                                        @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.Master
                                                   , "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>


                                            @if (!update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokumaDto.CompanyId
                                               , "Blue Cod Name"
                                               , htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("KumasOrmeDokumaDto.SirketId"
                                                            , Model.Collections.Sirketler, "Please Select"
                                                            , htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.CompanyId
                                                   , "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="hidden" name="KumasOrmeDokumaDto.SirketId"
                                                       id="ZetaCodeNormalIplikDto_SirketId"
                                                       value="@Model.KumasOrmeDokumaDto.CompanyId" />
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokumaDto.CompanyId
                                               , "Blue Cod Name"
                                               , htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               class="form-control"
                                                               readonly
                                                               value="@(Model.KumasOrmeDokumaDto.Company?.Code + " " + Model.KumasOrmeDokumaDto.Company?.Name)" />
                                                    </div>
                                                </div>
                                            }


                                            @if (update)
                                            {

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokumaDto.BlueSiparisNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.KumasOrmeDokumaDto.BlueSiparisNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.BlueSiparisNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }





                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokumaDto.Ulke, "Ürün Menşei", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("KumasOrmeDokumaDto.Ulke"
    , Model.Collections.Ulkeler, "Please Select"
    , htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.Ulke, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                                                            @Html.LabelFor(model => model.KumasOrmeDokumaDto.Ea, "Ea İplik No", htmlAttributes: new { @class = "control-label col-md-2" })
                                                                                            <div class="col-md-6">
                                                                                                @Html.DropDownList("KumasOrmeDokumaDto.Ea"
                                                , new SelectList(Model.Collections.EaIpliNolar,"Value","Text"), "Please Select"
                                                , htmlAttributes: new { @class = "form-control select2" })
                                                                                                @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.Ea, "", new { @class = "text-danger" })
                                                                                            </div>
                                                                                        </div>*@


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokumaDto.BlueUrunKodIsmi, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.KumasOrmeDokumaDto.BlueUrunKodIsmi, new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.BlueUrunKodIsmi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                    <label class="control-label col-md-2" for="KumasOrmeDokumaDto.IplikKategosiId">iplik Kategosi</label>
                                                    <div class="col-md-6">
                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <input type="hidden"
                                                                       name="KumasOrmeDokumaDto.IplikKategosiId"
                                                                       id="ZetaCodeNormalIplikDto_IplikKategosiId"
                                                                       value="@(Model.KumasOrmeDokumaDto.UrunKategorisi?.Id)" />
                                                                <input type="text"
                                                                       name="KumasOrmeDokumaDto.IplikKategosiName"
                                                                       id="ZetaCodeNormalIplikDto_IplikKategosiName"
                                                                       readonly
                                                                       class="form-control"
                                                                       value="@(Model.KumasOrmeDokumaDto.UrunKategorisi?.Name)" />
                                                                <br />
                                                                <div id="treeIplikKategosiId"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>*@



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_iplik_sec"> IPLIK SEC </a>
                        </h4>
                    </div>
                    <div id="collapse_iplik_sec" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.IplikKullanimOrani, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.MetreTulOrani, templateName: "MyTouchSpin")
                                <div class="form-group">
                                    <label class="control-label col-md-2" for="normal_iplik_count">Kaç İplikten Oluşuyor</label>
                                    <div class="col-md-6">
                                        @{
                                            var normalIplikCount = Model.KumasOrmeDokumaDto.ZetaCodeNormalIplik.Count;
                                        }
                                        <select id="normal_iplik_count" class="form-control">
                                            <option value="">Please Select</option>
                                            <option @(normalIplikCount == 1 ? "selected" : "") value="1">1</option>
                                            <option @(normalIplikCount == 2 ? "selected" : "") value="2">2</option>
                                            <option @(normalIplikCount == 3 ? "selected" : "") value="3">3</option>
                                            <option @(normalIplikCount == 4 ? "selected" : "") value="4">4</option>
                                            <option @(normalIplikCount == 5 ? "selected" : "") value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:void(0);"> Zeta Code Normal İplikler </a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            <div class="mt-repeater">
                                                <div data-repeater-list="ZetaCodeFanteziIplikDto.ZetaCodeNormalIplik">
                                                    @{
                                                        for (int i = 0; i < Model.KumasOrmeDokumaDto.ZetaCodeNormalIplik.Count; i++)
                                                        {

                                                            var normalIplik = Model.KumasOrmeDokumaDto.ZetaCodeNormalIplik.ElementAt(i);
                                                            <text>
                                                                <div data-repeater-item>
                                                                    <div class="mt-repeater-item">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <input type="hidden"
                                                                                           class="normal_iplik_id"
                                                                                           name="Id"
                                                                                           value="@normalIplik.Id" />
                                                                                    <br />
                                                                                    @Html.DropDownList("NormalIplik"
                                                                                   , new SelectList(Model.Collections.NormalIplikler, "Value", "Text", normalIplik.Id.ToString()),"Please Select"
                                                                                   , new { @class = "form-control select2 normal_iplik", @onchange = "setNormalIplikId($(this))" })
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                                                        <i class="fa fa-close"></i> Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" id="normal_iplik_form">
                                                                                @Html.Action("GetNormalIplikRenkler", new { normalIplikId = normalIplik.Id })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </text>
                                                        }
                                                    }
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:void(0);"> Zeta Code Fantazi İplikler </a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            <div class="mt-repeater">
                                                <div data-repeater-list="ZetaCodeFanteziIplikDto.ZetaCodeFanteziIplik">
                                                    @{
                                                        for (int i = 0; i < Model.KumasOrmeDokumaDto.ZetaCodeFanteziIplik.Count; i++)
                                                        {

                                                            var fanteziIplik = Model.KumasOrmeDokumaDto.ZetaCodeFanteziIplik[i];
                                                            <text>
                                                                <div data-repeater-item>
                                                                    <div class="mt-repeater-item">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <input type="hidden"
                                                                                           class="fantezi_iplik_id"
                                                                                           name="Id"
                                                                                           value="@fanteziIplik.Id" />
                                                                                    <br />
                                                                                    @Html.DropDownList("FanteziIplik"
                                                                                   , new SelectList(Model.Collections.FanteziIplikler, "Value", "Text", fanteziIplik.Id.ToString()),"Please Select"
                                                                                   , new { @class = "form-control select2 fantezi_iplik", @onchange = "setFanteziIplikId($(this))" })
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                                                        <i class="fa fa-close"></i> Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" id="fantezi_iplik_form">
                                                                                @Html.Action("GetFanteziIplikRenkler", new { fanteziIplikId = fanteziIplik.Id })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </text>
                                                        }
                                                    }
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_makine_sec"> MAKINE DETAYLARI </a>
                        </h4>
                    </div>
                    <div id="collapse_makine_sec" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Makine Markası</label>
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasOrmeDokumaDto.MakineMarkaId)
                                        @Html.TextBoxFor(x => x.KumasOrmeDokumaDto.MakineMarkasi.Name, new { @class = "form-control", @readonly = "" })
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeMakineMarkalar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2">Makine Modeli</label>
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasOrmeDokumaDto.MakineModelId)
                                        @Html.TextBoxFor(x => x.KumasOrmeDokumaDto.MakineModeli.Name, new { @class = "form-control", @readonly = "" })
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeMakineModeller">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                @Html.EditorFor(x => x.KumasMakineDto.ModelYili, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.Pus, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.Fine, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.YedekFine, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.Sistem, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.IgneSayisi, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.HamGr, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasMakineDto.HamCm, templateName: "MyTouchSpin")
                                <div class="form-group">
                                    <label class="control-label col-md-2">Aksesuarlar</label>
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasMakineDto.AksesuarIds)
                                        <textarea rows="2"
                                                  readonly
                                                  cols="20"
                                                  id="KumasOrmeDokumaDto_Aksesuarlar"
                                                  value="@(string.Join(",",Model.KumasOrmeDokumaDto.Aksesuarlar.Select(x => x.Name)))"
                                                  class="form-control"></textarea>
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeAksesuarlar">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KumasMakineDto.TupAcikEnId, "TupAcikEnler", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.KumasMakineDto.TupAcikEnId, new SelectList(Model.Collections.TupAcikEnler, "Id", "Name"), "Please Select", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KumasMakineDto.TupAcikEnId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KumasMakineDto.ElastanId, "Elastanlar", htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.KumasMakineDto.ElastanId, new SelectList(Model.Collections.Elastanlar, "Id", "Name"), "Please Select", new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.KumasMakineDto.ElastanId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                @*<div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_group1"> GROUP #2 </a>
                        </h4>
                    </div>
                    <div id="collapse_group1" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">


                            </div>
                        </div>
                    </div>
                </div>*@

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_orgu_detaylari"> ÖRGÜ DETAYLARI </a>
                        </h4>
                    </div>




                    <div id="collapse_orgu_detaylari" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Örgü Tipi</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.KumasOrmeDokumaDto.OrguTipiId
                                   , Model.Collections.OrguTipleri
                                   , "Please Select"
                                   , new { @class = "form-control select2", @onchange = "getOrguDetaylari($(this))" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasOrmeDokumaDto.OrguDetaylariIds)
                                        <textarea rows="2"
                                                  readonly
                                                  cols="20"
                                                  id="KumasOrmeDokumaDto_OrguDetaylari"
                                                  value="@(string.Join(",",Model.KumasOrmeDokumaDto.OrguDetaylari.Select(x => x.Name)))"
                                                  class="form-control"></textarea>
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeOrguDetaylari">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_boya_islemleri"> BOYAHANE İŞLEMLERİ </a>
                        </h4>
                    </div>
                    <div id="collapse_boya_islemleri" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.En, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.Gramaj, templateName: "MyTouchSpin")
                                <div class="form-group">
                                    @Html.LabelFor(x => x.KumasOrmeDokumaDto.BoyaIslemleriIds, new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasOrmeDokumaDto.BoyaIslemleriIds)
                                        <textarea id="KumasOrmeDokumaDto_BoyaIslemleri"
                                                  class="form-control"
                                                  rows="3"
                                                  readonly
                                                  cols="20"
                                                  value="@(string.Join(",",Model.KumasOrmeDokumaDto.BoyaIslemleri.Select(x => x.Name)))"></textarea>                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeBoyaIslemleri">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_yikama_talimati"> YIKAMA TALIMATI </a>
                        </h4>
                    </div>
                    <div id="collapse_yikama_talimati" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiKuruTemizleme, "MyBoolean")
                                <div class="form-group">
                                    @Html.LabelFor(model => model.KumasOrmeDokumaDto.YikamaTalimatiYikamaSekli, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiYikamaSekli, Model.Collections.YikamaSekilleri, "Please Select", new { @class = "form-control select2" })
                                        @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.YikamaTalimatiYikamaSekli, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiYikamaMaxDerecesi, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiUtulemeMaxDerecesi, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiTersYikama, templateName: "MyBoolean")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiCekemezlik, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiDonmezlik, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokumaDto.YikamaTalimatiYikamaAdedi, templateName: "MyTouchSpin")
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_renkler"> Renk </a>
                        </h4>
                    </div>
                    <div id="collapse_renkler" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KumasOrmeDokumaDto.PantoneId, "Pantone Renkle", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownList("KumasOrmeDokumaDto.PantoneId"
                                               , new SelectList(Model.Collections.PantoneRenkler, "Value", "Text", Model.KumasOrmeDokumaDto.PantoneId.HasValue ? Model.KumasOrmeDokumaDto.PantoneId.ToString() : "")
                                               , "Please Select"
                                               , htmlAttributes: new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.PantoneId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KumasOrmeDokumaDto.Renkid, "Renkler", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("KumasOrmeDokumaDto.Renkid"
                                            , new SelectList(Model.Collections.Renkler, "Value", "Text", Model.KumasOrmeDokumaDto.Renkid.HasValue ? Model.KumasOrmeDokumaDto.Renkid.ToString() : "")
                                            , "Please Select"
                                            , htmlAttributes: new { @class = "form-control select2", @onchange = "setHtmlColorCode($(this))" })
                                            @Html.ValidationMessageFor(model => model.KumasOrmeDokumaDto.Renkid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-default btn-block" id="renkidhtml">&nbsp;</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_rafyerleri"> Raf Yerleri </a>
                        </h4>
                    </div>
                    <div id="collapse_rafyerleri" class="panel-collapse collapse">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-body">
                                <div class="panel-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KumasOrmeDokumaDto.KumasGoruntuId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownList("KumasOrmeDokumaDto.KumasGoruntuId"
                                                       , new SelectList(Model.Collections.KumasGoruntuleri, "Value", "Text", Model.KumasOrmeDokumaDto.KumasGoruntuId.HasValue ? Model.KumasOrmeDokumaDto.KumasGoruntuId.ToString() : "")
                                                       , "Please Select"
                                                       , new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.KumasOrmeDokumaDto.KoleksiyonKategoriId, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-6">
                                                <div class="panel panel-default">
                                                    <div class="panel-body">
                                                        @Html.HiddenFor(model => model.KumasOrmeDokumaDto.KoleksiyonKategoriId)
                                                        @Html.TextBoxFor(model => model.KumasOrmeDokumaDto.KoleksiyonKategori.Name, new { @class = "form-control" })
                                                        <br />
                                                        <div id="treeKoleksiyonKategorileri"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.KumasOrmeDokumaDto.RafyeriTurkiyeId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:150px; overflow-y:auto;">
                                                    @Html.HiddenFor(x => x.KumasOrmeDokumaDto.RafyeriTurkiyeId)
                                                    @Html.TextBoxFor(x => x.KumasOrmeDokumaDto.RafyeriTurkiye.Name, new { @class = "form-control" })
                                                    <br />
                                                    <div id="treeRafyeriTurkiye">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.KumasOrmeDokumaDto.RafyeriYunanistanId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:150px; overflow-y:auto;">
                                                    @Html.HiddenFor(x => x.KumasOrmeDokumaDto.RafyeriYunanistanId)
                                                    @Html.TextBoxFor(x => x.KumasOrmeDokumaDto.RafyeriYunanistan.Name, new { @class = "form-control" })
                                                    <br />
                                                    <div id="treeRafyeriYunanistan">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="submit" onclick="validateSomeFields()" class="btn green btn-block">
                                            @*<i class="fa fa-pencil"></i>*@ Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section afterGlobalScripts
{
    @*<script src="~/Content/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>*@

    @*<script src="~/Content/global/plugins/nouislider/wNumb.min.js" type="text/javascript"></script>
        <script src="~/Content/global/plugins/nouislider/nouislider.min.js" type="text/javascript"></script>*@

    <script src="~/Content/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="~/Content/noUiSlider/wNumb.js"></script>
    <script src="~/Content/noUiSlider/nouislider.min.js"></script>
    <script src="~/Scripts/ComponentsNoUiSliders.js"></script>

    <script>

        function setNormalIplikId(dll) {
            if ($(dll).val() > 0) {
                $(dll).closest(".mt-repeater-item").find(".normal_iplik_id").val($(dll).val())
                getNormalIplikRenkler($(dll).val(), $(dll).closest(".mt-repeater-item").find("#normal_iplik_form"));
            }

        }

        function getNormalIplikRenkler(normalIplikId, containerNormalIplikForm) {
            $.ajax({
                url: "/ZetaCodeFanteziIplik/GetNormalIplikRenkler",
                type: "GET",
                data: { normalIplikId: normalIplikId }
            })
                .done(function (partialViewResult) {
                    $(containerNormalIplikForm).empty();
                    $(containerNormalIplikForm).html(partialViewResult);
                    //$(".mask_number").inputmask('999.99', {
                    //    numericInput: true
                    //}); //123456  =>  â‚¬ ___.__1.234,56
                });
        }

        var modulKumasOrmeDokuma = (function () {

            var ajaxTreeFillTermTree = function (selector, url, valueElement, textElement, multiple, parentContainer, checkbox) {
                var tmp = $(selector).jstree(true);
                if (tmp) {
                    tmp.destroy();
                }

                if (typeof parentContainer === "undefined") {
                    parentContainer = ".panel-body";
                }

                if (typeof multiple === "undefined") {
                    multiple = false;
                }

                if (typeof checkbox === "undefined" || checkbox === null) {
                    checkbox = {
                        'keep_selected_style': false,
                        'three_state': false,
                        'cascade': ''
                    };
                }

                $(selector).jstree({
                    'plugins': ['search', 'checkbox', 'wholerow'],
                    'core': {
                        "multiple": multiple,
                        'data': {
                            'url': function (node) {
                                return url;
                            }
                            //,
                            //'data': function (node) {
                            //    //console.log(node);

                            //    return { 'parent': node.id };
                            //}
                        },
                        'animation': false,
                        //'expand_selected_onload': true,
                        'themes': {
                            'icons': false,
                        }
                    },
                    'search': {
                        'show_only_matches': true,
                        'show_only_matches_children': true
                    },
                    'checkbox': checkbox
                });

                $(selector).on('changed.jstree',
                    function (e, data) {
                        var i, j, ids = [], texts = [];
                        for (i = 0, j = data.selected.length; i < j; i++) {
                            var node = data.instance.get_node(data.selected[i]);
                            ids.push(node.id);
                            texts.push(node.text);
                        }
                        debugger;
                        var valueElyafCinsiKalitesi = $(selector).closest(parentContainer).find(valueElement);
                        valueElyafCinsiKalitesi.empty();
                        $(valueElyafCinsiKalitesi).val(ids.join(', '));

                        var txtElyafCinsiKalitesi = $(selector).closest(parentContainer).find(textElement);
                        txtElyafCinsiKalitesi.empty();
                        $(txtElyafCinsiKalitesi).val(texts.join(', '));

                        //$(txtElyafCinsiKalitesi).val(texts.join(', '));


                        if (typeof changedCallBackFunc !== 'undefined' && changedCallBackFunc !== null) {
                            changedCallBackFunc();
                        }



                    });
            };

            return {

                ajaxTreeFillTermTree: ajaxTreeFillTermTree

            };

        })();

        function setFanteziIplikId(dll) {
            //if ($(dll).val() > 0) {
            //    $(dll).closest(".mt-repeater-item").find(".fantezi_iplik_id").val($(dll).val())
            //    getNormalIplikRenkler($(dll).val(), $(dll).closest(".mt-repeater-item").find("#fantezi_iplik_form"));
            //}
        }

        function setHtmlColorCode(dll) {
            var htmlColorText = dll.find("option:selected").val();
            if (htmlColorText.length > 0) {
                dll.closest(".form-group").find("#renkidhtml").css('background-color', htmlColorText.split("|")[1]);
            }
        }


        function getOrguDetaylari(dll) {
            if ($(dll).val().length > 0) {

                var mycheckbox = {
                    'keep_selected_style': true,
                    'three_state': true,
                    'cascade': 'up'
                };

                if ($(dll).val() === "26") {
                    //Örgü Detayları - Örme Düz
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariOrmeDuz"
                        , "#KumasOrmeDokumaDto_OrguDetaylariIds"
                        , "#KumasOrmeDokumaDto_OrguDetaylari", false, ".form-group");
                } else if ($(dll).val() === "45") {
                    //Örgü Detayları - Örme Yuvarlak
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariOrmeYuvarlak"
                        , "#KumasOrmeDokumaDto_OrguDetaylariIds"
                        , "#KumasOrmeDokumaDto_OrguDetaylari", false, ".form-group");
                }
                else if ($(dll).val() === "46") {
                    //Örgü Detayları - Örme Çözgülü
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariOrmeCozgulu"
                        , "#KumasOrmeDokumaDto_OrguDetaylariIds"
                        , "#KumasOrmeDokumaDto_OrguDetaylari", false, ".form-group");

                }
                else if ($(dll).val() === "47") {
                    //Örgü Detayları - Dokuma
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariDokuma"
                        , "#KumasOrmeDokumaDto_OrguDetaylariIds"
                        , "#KumasOrmeDokumaDto_OrguDetaylari", false, ".form-group");
                }
                else if ($(dll).val() === "48") {
                    //Örgü Detayları - Nonwoven
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariNonwoven"
                        , "#KumasOrmeDokumaDto_OrguDetaylariIds"
                        , "#KumasOrmeDokumaDto_OrguDetaylari", false, ".form-group");
                }
            }
        }

        jQuery(document).ready(function () {

          
            
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_ModelYili", 1970, 2050, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_Pus", 2, 60, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_Fine", 2, 90, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_YedekFine", 2, 90, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_Sistem", 2, 135, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_IgneSayisi", 15, 16965, 1);            
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_YikamaTalimatiYikamaMaxDerecesi", 0, 100, 10);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_YikamaTalimatiUtulemeMaxDerecesi", 20, 100, 5);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_YikamaTalimatiCekemezlik", -30, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_YikamaTalimatiDonmezlik", -30, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_YikamaTalimatiYikamaAdedi", 1, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_En", 1, 250, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_Gramaj", 1, 1000, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_HamGr", 1, 1000, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasMakineDto_HamCm", 1, 250, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_IplikKullanimOrani", 1, 100, 1);   
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokumaDto_MetreTulOrani", 1, 1000, 1);  
            //ComponentsNoUiSlidersmyNoUiSlidersStater("#KumasOrmeDokumaDto_BaskiliEn", 1, 200, 1);

            //modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeKumasGoruntuleri"
            //    , "/ZetaCodeNormalIplik/JSTreeKumasGoruntuleri"
            //    , "#KumasOrmeDokumaDto_KumasGoruntuId"
            //    , "#KumasOrmeDokumaDto_KumasGoruntu_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeKoleksiyonKategorileri"
                , "/ZetaCodeNormalIplik/JSTreeKoleksiyonKategorileri"
                , "#KumasOrmeDokumaDto_KoleksiyonKategoriId"
                , "#KumasOrmeDokumaDto_KoleksiyonKategori_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeRafyeriTurkiye"
                , "/ZetaCodeNormalIplik/JSTreeRafyeriTurkiyeId"
                , "#KumasOrmeDokumaDto_RafyeriTurkiyeId"
                , "#KumasOrmeDokumaDto_RafyeriTurkiye_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeRafyeriYunanistan"
                , "/ZetaCodeNormalIplik/JSTreeRafyeriYunanistanId"
                , "#KumasOrmeDokumaDto_RafyeriYunanistanId"
                , "#KumasOrmeDokumaDto_RafyeriYunanistan_Name");


            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeBoyaIslemleri"
                , "/ZetaCodeNormalIplik/JSTreeBoyaIslemleri"
                , "#KumasOrmeDokumaDto_BoyaIslemleriIds"
                , "#KumasOrmeDokumaDto_BoyaIslemleri", true, ".form-group");


            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeAksesuarlar"
                , "/ZetaCodeNormalIplik/JSTreeAksesuarlar"
                , "#KumasOrmeDokumaDto_AksesuarIds"
                , "#KumasOrmeDokumaDto_Aksesuarlar", true, ".form-group");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeMakineMarkalar"
                , "/ZetaCodeNormalIplik/JSTreeMakineMarkalar"
                , "#KumasOrmeDokumaDto_MakineMarkaId"
                , "#KumasOrmeDokumaDto_MakineMarkasi_Name", false, ".form-group");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeMakineModeller"
                , "/ZetaCodeNormalIplik/JSTreeMakineModeller"
                , "#KumasOrmeDokumaDto_MakineModelId"
                , "#KumasOrmeDokumaDto_MakineModeli_Name", false, ".form-group");

        });
    </script>
}