@using Helezon.FollowMe.WebUI.Models.ViewModels
@model ZetaCodeKumasOrmeDokumaEditVm
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutZetaCode.cshtml";
    var update = Model != null && Model.KumasOrmeDokuma != null && Model.KumasOrmeDokuma.Id > 0;
}

@section afterGlobalStyles
{

    @*<link href="~/Content/global/plugins/ion.rangeslider/css/ion.rangeSlider.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/global/plugins/ion.rangeslider/css/ion.rangeSlider.skinModern.css" rel="stylesheet" />*@

    @*<link href="~/Content/global/plugins/nouislider/nouislider.min.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/global/plugins/nouislider/nouislider.pips.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/global/plugins/bootstrap-touchspin/bootstrap.touchspin.css" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/noUiSlider/nouislider.min.css" rel="stylesheet" />
    <style>
        .noUi-tooltip {
            display: none;
        }

        .noUi-active .noUi-tooltip {
            display: block;
        }
    </style>
}

<form action="/ZetaCodeKumasOrmeDokuma/Edit" id="frmKumasOrmeDokuma" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.KumasOrmeDokuma.Id)
    @Html.HiddenFor(model => model.KumasOrmeDokuma.ZetaCode)
    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Zeta Code Örme Kumaş Dokuma @(update ? "Edit Page" : "Create")
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-group accordion" id="accordion1">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Group #1 </a>
                        </h4>
                    </div>
                    <div id="collapse_1" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            @if (update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokuma.IsPassive, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <div class="checkbox">
                                                            @Html.DropDownList("KumasOrmeDokuma.IsPassive", MyHtmlHelpers.SelectListForBoolean(Model.KumasOrmeDokuma.IsPassive), "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                            @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.IsPassive, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokuma.ZetaCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               readonly
                                                               class="form-control transform_none"
                                                               id="ZetaCodeFanteziIplikDto_ZetaCode"
                                                               value="@Model.KumasOrmeDokuma.Id" />
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokuma.ZetaCodePrevious, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.KumasOrmeDokuma.ZetaCodePrevious, new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.ZetaCodePrevious, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokuma.Master, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("KumasOrmeDokuma.Master", MyHtmlHelpers.SelectListForBoolean(Model.KumasOrmeDokuma.Master), "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.Master, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            @if (!update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokuma.CompanyId, "Blue Cod Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("KumasOrmeDokuma.CompanyId", Model.Collections.Sirketler, "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.CompanyId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="hidden" name="KumasOrmeDokuma.CompanyId" id="KumasOrmeDokuma_CompanyId" value="@Model.KumasOrmeDokuma.CompanyId" />
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokuma.CompanyId, "Blue Cod Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               class="form-control"
                                                               readonly
                                                               value="@(Model.Company.Code + " " + Model.Company.Name)" />
                                                    </div>
                                                </div>
                                            }

                                            @if (update)
                                            {

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.KumasOrmeDokuma.BlueSiparisNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.KumasOrmeDokuma.BlueSiparisNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.BlueSiparisNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ulke, "Ürün Menşei", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("Ulke.Id", Model.Collections.Ulkeler, "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.Ulke.Id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.KumasOrmeDokuma.BlueUrunKodIsmi, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.KumasOrmeDokuma.BlueUrunKodIsmi, new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.BlueUrunKodIsmi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_kumas_sec"> IPLIK SECME </a>
                        </h4>
                    </div>
                    <div id="collapse_kumas_sec" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">
                                    @{
                                        //var normalIplikCount = Model.ZetaCodeFanteziIplikDto.ZetaCodeNormalIplik.Count;
                                        var normalIplikCount = 0;
                                    }
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="normal_iplik_count">Kaç İplikten Oluşuyor</label>
                                        <div class="col-md-6">
                                            <select id="iplik_counter" class="form-control">
                                                <option value="">Please Select</option>
                                                <option @(normalIplikCount == 1 ? "selected" : "") value="1">1</option>
                                                <option @(normalIplikCount == 2 ? "selected" : "") value="2">2</option>
                                                <option @(normalIplikCount == 3 ? "selected" : "") value="3">3</option>
                                                <option @(normalIplikCount == 4 ? "selected" : "") value="4">4</option>
                                                <option @(normalIplikCount == 5 ? "selected" : "") value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:void(0);"> IPLIKLER </a>
                                    </h4>
                                </div>
                                <div class="panel-body">

                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            <div id="mt-repeater1">
                                                <div data-repeater-list="Iplikler">
                                                    @{
                                                        for (int i = 0; i < Model.Iplikler.Count; i++)
                                                        {

                                                            <text>
                                                                <div data-repeater-item>
                                                                    <div class="mt-repeater-item">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    @Html.DropDownList("Id"
                                                                                        , new SelectList(Model.Collections.Iplikler, "Id", "ZetaCode", Model.Iplikler[i].Id)
                                                                                        , "Please Select"
                                                                                        , new { @class = "form-control select2", @onchange = "" })
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete" style="margin-top: 0">
                                                                                        <i class="fa fa-close"></i> Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" id="">
                                                                                @*@Html.Action("GetNormalIplikRenkler", new { normalIplikId = normalIplik.Id })*@
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </text>
                                                        }
                                                    }
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @Html.Partial("_MyPartialKumasMakine", new ZetaCodeKumasMakineEditVm {
               Makine = Model.KumasMakine,
               Collections =new ZetaCodeKumasMakineEditVmCollections {
                   Elastanlar = Model.Collections.Elastanlar,
                   TupAcikEnler = Model.Collections.TupAcikEnler
               } })




                @*<div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_group1"> GROUP #2 </a>
                </h4>
            </div>
            <div id="collapse_group1" class="panel-collapse collapse">
                <div class="panel-body">
                    <div class="form-horizontal form-bordered form-row-stripped">


                    </div>
                </div>
            </div>
        </div>*@

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_orgu_detaylari"> ÖRGÜ DETAYLARI </a>
                        </h4>
                    </div>




                    <div id="collapse_orgu_detaylari" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-group">
                                    <label class="control-label col-md-2">Örgü Tipi</label>
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(x => x.KumasOrmeDokuma.OrguTipiId
                                   , Model.Collections.OrguTipleri
                                   , "Please Select"
                                   , new { @class = "form-control select2", @onchange = "getOrguDetaylari($(this))" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-2"></label>
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasOrmeDokuma.OrguDetaylariIds)
                                        <textarea rows="2"
                                                  readonly
                                                  cols="20"
                                                  id="KumasOrmeDokuma_OrguDetaylari"
                                                  value="@(string.Join(",",Model.OrguDetaylari.Select(x => x.Name)))"
                                                  class="form-control"></textarea>
                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeOrguDetaylari">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_boya_islemleri"> BOYAHANE İŞLEMLERİ </a>
                        </h4>
                    </div>
                    <div id="collapse_boya_islemleri" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                @Html.EditorFor(x => x.KumasOrmeDokuma.En, templateName: "MyTouchSpin")
                                @Html.EditorFor(x => x.KumasOrmeDokuma.Gramaj, templateName: "MyTouchSpin")
                                <div class="form-group">
                                    @Html.LabelFor(x => x.KumasOrmeDokuma.BoyaIslemleriIds, new { @class = "control-label col-md-2" })
                                    <div class="col-md-6">
                                        @Html.HiddenFor(x => x.KumasOrmeDokuma.BoyaIslemleriIds)
                                        <textarea id="KumasOrmeDokuma_BoyaIslemleri"
                                                  class="form-control"
                                                  rows="3"
                                                  readonly
                                                  cols="20"
                                                  value="@(string.Join(",",Model.BoyaIslemleri.Select(x => x.Name)))"></textarea>                                        <br />
                                        <div class="panel panel-default">
                                            <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                <div id="treeBoyaIslemleri">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                @Html.Partial("_MyPartialYikamaTalimati",model:new ZetaCodeYikamaTalimatiEditVm
           {
               YikamaTalimati = Model.YikamaTalimati,
               Collections=new ZetaCodeYikamaTalimatiEditVmCollections {

                   YikamaSekilleri = Model.Collections.YikamaSekilleri

               }

           })


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_renkler"> Renk </a>
                        </h4>
                    </div>
                    <div id="collapse_renkler" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KumasOrmeDokuma.PantoneId, "Pantone Renkle", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownList("KumasOrmeDokuma.PantoneId"
                                               , new SelectList(Model.Collections.PantoneRenkler, "Value", "Text", Model.KumasOrmeDokuma.PantoneId.HasValue ? Model.KumasOrmeDokuma.PantoneId.ToString() : "")
                                               , "Please Select"
                                               , htmlAttributes: new { @class = "form-control select2" })
                                            @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.PantoneId, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KumasOrmeDokuma.Renkid, "Renkler", htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-3">
                                            @Html.DropDownList("KumasOrmeDokuma.Renkid"
                                            , new SelectList(Model.Collections.Renkler, "Value", "Text", Model.KumasOrmeDokuma.Renkid.HasValue ? Model.KumasOrmeDokuma.Renkid.ToString() : "")
                                            , "Please Select"
                                            , htmlAttributes: new { @class = "form-control select2", @onchange = "setHtmlColorCode($(this))" })
                                            @Html.ValidationMessageFor(model => model.KumasOrmeDokuma.Renkid, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="col-md-3">
                                            <button type="button" class="btn btn-default btn-block" id="renkidhtml">&nbsp;</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_rafyerleri"> Raf Yerleri </a>
                        </h4>
                    </div>
                    <div id="collapse_rafyerleri" class="panel-collapse collapse">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-body">
                                <div class="panel-body">

                                    <div class="form-group">
                                        @Html.LabelFor(model => model.KumasOrmeDokuma.KumasGoruntuId, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            @Html.DropDownList("KumasOrmeDokuma.KumasGoruntuId"
                                                       , new SelectList(Model.Collections.KumasGoruntuleri, "Value", "Text", Model.KumasOrmeDokuma.KumasGoruntuId.HasValue ? Model.KumasOrmeDokuma.KumasGoruntuId.ToString() : "")
                                                       , "Please Select"
                                                       , new { @class = "form-control select2" })
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                @Html.LabelFor(model => model.KumasOrmeDokuma.KoleksiyonKategoriId, htmlAttributes: new { @class = "control-label col-md-2" })
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            @Html.HiddenFor(model => model.KumasOrmeDokuma.KoleksiyonKategoriId)
                                            @Html.TextBoxFor(model => model.KumasOrmeDokuma.KoleksiyonKategori.Name, new { @class = "form-control" })
                                            <br />
                                            <div id="treeKoleksiyonKategorileri"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>*@

                                    <div class="form-group">
                                        @Html.LabelFor(x => x.KumasOrmeDokuma.RafyeriTurkiyeId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:150px; overflow-y:auto;">
                                                    @Html.HiddenFor(x => x.KumasOrmeDokuma.RafyeriTurkiyeId)
                                                    @Html.TextBoxFor(x => x.RafyeriTurkiye.Name, new { @class = "form-control", @readonly = "" })
                                                    <br />
                                                    <div id="treeRafyeriTurkiye">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        @Html.LabelFor(x => x.KumasOrmeDokuma.RafyeriYunanistanId, new { @class = "control-label col-md-2" })
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:150px; overflow-y:auto;">
                                                    @Html.HiddenFor(x => x.KumasOrmeDokuma.RafyeriYunanistanId)
                                                    @Html.TextBoxFor(x => x.RafyeriYunanistan.Name, new { @class = "form-control", @readonly = "" })
                                                    <br />
                                                    <div id="treeRafyeriYunanistan">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="submit" onclick="validateSomeFields()" class="btn green btn-block">
                                            @*<i class="fa fa-pencil"></i>*@ Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section afterGlobalScripts
{
    @*<script src="~/Content/global/plugins/ion.rangeslider/js/ion.rangeSlider.min.js" type="text/javascript"></script>*@

    @*<script src="~/Content/global/plugins/nouislider/wNumb.min.js" type="text/javascript"></script>
        <script src="~/Content/global/plugins/nouislider/nouislider.min.js" type="text/javascript"></script>*@

    <script src="~/Content/global/plugins/fuelux/js/spinner.min.js" type="text/javascript"></script>
    <script src="~/Content/global/plugins/bootstrap-touchspin/bootstrap.touchspin.js" type="text/javascript"></script>
    <script src="~/Content/noUiSlider/wNumb.js"></script>
    <script src="~/Content/noUiSlider/nouislider.min.js"></script>
    <script src="~/Scripts/ComponentsNoUiSliders.js"></script>
    <script src="~/Scripts/ComponentsRepeater.js"></script>
    <script>

        function setNormalIplikId(dll) {
            //if ($(dll).val() > 0) {
            //    $(dll).closest(".mt-repeater-item").find(".normal_iplik_id").val($(dll).val())
            //    getNormalIplikRenkler($(dll).val(), $(dll).closest(".mt-repeater-item").find("#normal_iplik_form"));
            //}

        }

        function getNormalIplikRenkler(normalIplikId, containerNormalIplikForm) {
            $.ajax({
                url: "/ZetaCodeFanteziIplik/GetNormalIplikRenkler",
                type: "GET",
                data: { normalIplikId: normalIplikId }
            })
                .done(function (partialViewResult) {
                    $(containerNormalIplikForm).empty();
                    $(containerNormalIplikForm).html(partialViewResult);
                    //$(".mask_number").inputmask('999.99', {
                    //    numericInput: true
                    //}); //123456  =>  â‚¬ ___.__1.234,56
                });
        }

        var modulKumasOrmeDokuma = (function () {

            var ajaxTreeFillTermTree = function (selector, url, valueElement, textElement, multiple, parentContainer, checkbox) {
                var tmp = $(selector).jstree(true);
                if (tmp) {
                    tmp.destroy();
                }

                if (typeof parentContainer === "undefined") {
                    parentContainer = ".panel-body";
                }

                if (typeof multiple === "undefined") {
                    multiple = false;
                }

                if (typeof checkbox === "undefined" || checkbox === null) {
                    checkbox = {
                        'keep_selected_style': false,
                        'three_state': false,
                        'cascade': ''
                    };
                }

                $(selector).jstree({
                    'plugins': ['search', 'checkbox', 'wholerow'],
                    'core': {
                        "multiple": multiple,
                        'data': {
                            'url': function (node) {
                                return url;
                            }
                            //,
                            //'data': function (node) {
                            //    //console.log(node);

                            //    return { 'parent': node.id };
                            //}
                        },
                        'animation': false,
                        //'expand_selected_onload': true,
                        'themes': {
                            'icons': false,
                        }
                    },
                    'search': {
                        'show_only_matches': true,
                        'show_only_matches_children': true
                    },
                    'checkbox': checkbox
                });

                $(selector).on('changed.jstree',
                    function (e, data) {
                        var i, j, ids = [], texts = [];
                        for (i = 0, j = data.selected.length; i < j; i++) {
                            var node = data.instance.get_node(data.selected[i]);
                            ids.push(node.id);
                            texts.push(node.text);
                        }
                        debugger;
                        var valueElyafCinsiKalitesi = $(selector).closest(parentContainer).find(valueElement);
                        valueElyafCinsiKalitesi.empty();
                        $(valueElyafCinsiKalitesi).val(ids.join(', '));

                        var txtElyafCinsiKalitesi = $(selector).closest(parentContainer).find(textElement);
                        txtElyafCinsiKalitesi.empty();
                        $(txtElyafCinsiKalitesi).val(texts.join(', '));

                        //$(txtElyafCinsiKalitesi).val(texts.join(', '));


                        if (typeof changedCallBackFunc !== 'undefined' && changedCallBackFunc !== null) {
                            changedCallBackFunc();
                        }



                    });
            };

            return {

                ajaxTreeFillTermTree: ajaxTreeFillTermTree

            };

        })();

        function setFanteziIplikId(dll) {
            //if ($(dll).val() > 0) {
            //    $(dll).closest(".mt-repeater-item").find(".fantezi_iplik_id").val($(dll).val())
            //    getNormalIplikRenkler($(dll).val(), $(dll).closest(".mt-repeater-item").find("#fantezi_iplik_form"));
            //}
        }

        function setHtmlColorCode(dll) {
            var htmlColorText = dll.find("option:selected").val();
            if (htmlColorText.length > 0) {
                dll.closest(".form-group").find("#renkidhtml").css('background-color', htmlColorText.split("|")[1]);
            }
        }


        function getOrguDetaylari(dll) {
            if ($(dll).val().length > 0) {

                var mycheckbox = {
                    'keep_selected_style': true,
                    'three_state': true,
                    'cascade': 'up'
                };

                if ($(dll).val() === "26") {
                    //Örgü Detayları - Örme Düz
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariOrmeDuz"
                        , "#KumasOrmeDokuma_OrguDetaylariIds"
                        , "#KumasOrmeDokuma_OrguDetaylari", false, ".form-group");
                } else if ($(dll).val() === "45") {
                    //Örgü Detayları - Örme Yuvarlak
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariOrmeYuvarlak"
                        , "#KumasOrmeDokuma_OrguDetaylariIds"
                        , "#KumasOrmeDokuma_OrguDetaylari", false, ".form-group");
                }
                else if ($(dll).val() === "46") {
                    //Örgü Detayları - Örme Çözgülü
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariOrmeCozgulu"
                        , "#KumasOrmeDokuma_OrguDetaylariIds"
                        , "#KumasOrmeDokuma_OrguDetaylari", false, ".form-group");

                }
                else if ($(dll).val() === "47") {
                    //Örgü Detayları - Dokuma
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariDokuma"
                        , "#KumasOrmeDokuma_OrguDetaylariIds"
                        , "#KumasOrmeDokuma_OrguDetaylari", false, ".form-group");
                }
                else if ($(dll).val() === "48") {
                    //Örgü Detayları - Nonwoven
                    modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeOrguDetaylari"
                        , "/ZetaCodeNormalIplik/JSTreeOrguDetaylariNonwoven"
                        , "#KumasOrmeDokuma_OrguDetaylariIds"
                        , "#KumasOrmeDokuma_OrguDetaylari", false, ".form-group");
                }
            }
        }

        jQuery(document).ready(function () {

            ComponentsRepeater.myRepeater("#mt-repeater1", function () {
                var tempValue = $("#iplik_counter").val();
                console.log(tempValue);
                var tempValue = $("#mt-repeater1 div[data-repeater-item]").length;
                console.log(tempValue);
                return ($("#iplik_counter").val() * 1) >= $("#mt-repeater1 div[data-repeater-item]").length;


            });
               
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_ModelYili", 1970, 2050, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_Pus", 2, 60, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_Fine", 2, 90, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_YedekFine", 2, 90, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_Sistem", 2, 135, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_IgneSayisi", 15, 16965, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_HamGr", 1, 1000, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#Makine_HamCm", 1, 250, 1);

         
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_YikamaMaxDerecesi", 0, 100, 10);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_UtulemeMaxDerecesi", 20, 100, 5);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_Cekemezlik", -30, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_Donmezlik", -30, 30, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#YikamaTalimati_YikamaAdedi", 1, 30, 1);

      

            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokuma_En", 1, 250, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokuma_Gramaj", 1, 1000, 1);
      
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokuma_IplikKullanimOrani", 1, 100, 1);
            ComponentsNoUiSliders.myNoUiSlidersStater("#KumasOrmeDokuma_MetreTulOrani", 1, 1000, 1);
            //ComponentsNoUiSlidersmyNoUiSlidersStater("#KumasOrmeDokuma_BaskiliEn", 1, 200, 1);

            //modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeKumasGoruntuleri"
            //    , "/ZetaCodeNormalIplik/JSTreeKumasGoruntuleri"
            //    , "#KumasOrmeDokuma_KumasGoruntuId"
            //    , "#KumasOrmeDokuma_KumasGoruntu_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeKoleksiyonKategorileri"
                , "/ZetaCodeNormalIplik/JSTreeKoleksiyonKategorileri"
                , "#KumasOrmeDokuma_KoleksiyonKategoriId"
                , "#KumasOrmeDokuma_KoleksiyonKategori_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeRafyeriTurkiye"
                , "/ZetaCodeNormalIplik/JSTreeRafyeriTurkiyeId"
                , "#KumasOrmeDokuma_RafyeriTurkiyeId"
                , "#KumasOrmeDokuma_RafyeriTurkiye_Name");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeRafyeriYunanistan"
                , "/ZetaCodeNormalIplik/JSTreeRafyeriYunanistanId"
                , "#KumasOrmeDokuma_RafyeriYunanistanId"
                , "#KumasOrmeDokuma_RafyeriYunanistan_Name");


            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeBoyaIslemleri"
                , "/ZetaCodeNormalIplik/JSTreeBoyaIslemleri"
                , "#KumasOrmeDokuma_BoyaIslemleriIds"
                , "#KumasOrmeDokuma_BoyaIslemleri", true, ".form-group");


            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeAksesuarlar"
                , "/ZetaCodeNormalIplik/JSTreeAksesuarlar"
                , "#Makine_AksesuarIds"
                , "#Aksesuarlar", true, ".form-group");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeMakineMarkalar"
                , "/ZetaCodeNormalIplik/JSTreeMakineMarkalar"
                , "#Makine_MarkaId"
                , "#Makine_MakineMarkasi_Name", false, ".form-group");

            modulKumasOrmeDokuma.ajaxTreeFillTermTree("#treeMakineModeller"
                , "/ZetaCodeNormalIplik/JSTreeMakineModeller"
                , "#Makine_ModelId"
                , "#Makine_MakineModeli_Name", false, ".form-group");

        });
    </script>
}