@model ZetaCodeFanteziIplikEditVm
@{

    Layout = "~/Views/Shared/_LayoutZetaCode.cshtml";
}

@using Helezon.FollowMe.WebUI.Models.ViewModels


@{
    ViewBag.Title = "";
    var update = Model != null && Model.FanteziIplik != null && Model.FanteziIplik.Id > 0;

}


<form action="/ZetaCodeFanteziIplik/Edit" id="frmZetaCodeFanteziIplik" method="post">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.FanteziIplik.Id)
    @Html.HiddenFor(model => model.FanteziIplik.ZetaCode)

    <div class="portlet box green">
        <div class="portlet-title">
            <div class="caption">
                <i class="fa fa-gift"></i>Zeta Code Fanztezi İplik @(update ? "Edit Page" : "Create")
            </div>
            <div class="tools">
            </div>
        </div>
        <div class="portlet-body">
            <div class="panel-group accordion" id="accordion1">

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_1"> Group #1 </a>
                        </h4>
                    </div>
                    <div id="collapse_1" class="panel-collapse in">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            @if (update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FanteziIplik.IsPassive, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <div class="checkbox">
                                                            @Html.EditorFor(model => model.FanteziIplik.IsPassive, new { SelectName = "FanteziIplik.IsPassive", SelectId = "ZetaCodeNormalIplikDto_IsPassive" })
                                                            @Html.ValidationMessageFor(model => model.FanteziIplik.IsPassive, "", new { @class = "text-danger" })
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FanteziIplik.ZetaCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text"
                                                               readonly
                                                               class="form-control transform_none"
                                                               id="FanteziIplik_Id"
                                                               value="@Model.FanteziIplik.Id" />
                                                    </div>
                                                </div>
                                            }

                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FanteziIplik.ZetaCodePrevious, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.FanteziIplik.ZetaCodePrevious
     , new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.FanteziIplik.ZetaCodePrevious, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FanteziIplik.Master, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    <div class="checkbox">
                                                        @Html.EditorFor(model => model.FanteziIplik.Master, new { SelectName = "FanteziIplik.Master", SelectId = "ZetaCodeNormalIplikDto_Master" })
                                                        @Html.ValidationMessageFor(model => model.FanteziIplik.Master, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>


                                            @if (!update)
                                            {
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.Company.Id, "Blue Cod Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.DropDownList("Company.Id"
        , Model.Collections.Sirketler, "Please Select"
        , htmlAttributes: new { @class = "form-control select2" })
                                                        @Html.ValidationMessageFor(model => model.Company.Id, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }
                                            else
                                            {
                                                <input type="hidden" name="Company.Id" id="Company_Id" value="@Model.Company.Id" />
                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FanteziIplik.SirketId, "Blue Cod Name", htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        <input type="text" class="form-control" readonly value="@(Model.Company.Code + " " + Model.Company.Name)" />
                                                    </div>
                                                </div>
                                            }


                                            @if (update)
                                            {

                                                <div class="form-group">
                                                    @Html.LabelFor(model => model.FanteziIplik.BlueSiparisNo, htmlAttributes: new { @class = "control-label col-md-2" })
                                                    <div class="col-md-6">
                                                        @Html.EditorFor(model => model.FanteziIplik.BlueSiparisNo, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                                                        @Html.ValidationMessageFor(model => model.FanteziIplik.BlueSiparisNo, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            }





                                            <div class="form-group">
                                                @Html.LabelFor(model => model.Ulke.Id, "Ürün Menşei", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("Ulke.Id", Model.Collections.Ulkeler, "Please Select", htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.Ulke.Id, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            @*<div class="form-group">
                                                @Html.LabelFor(model => model.FanteziIplik.Ea, "Ea İplik No", htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.DropDownList("FanteziIplik.Ea" , new SelectList(Model.Collections.EaIpliNolar,"Value","Text"), "Please Select"    , htmlAttributes: new { @class = "form-control select2" })
                                                    @Html.ValidationMessageFor(model => model.FanteziIplik.Ea, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@


                                            <div class="form-group">
                                                @Html.LabelFor(model => model.FanteziIplik.BlueUrunKodIsmi, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-6">
                                                    @Html.EditorFor(model => model.FanteziIplik.BlueUrunKodIsmi, new { htmlAttributes = new { @class = "form-control transform_none" } })
                                                    @Html.ValidationMessageFor(model => model.FanteziIplik.BlueUrunKodIsmi, "", new { @class = "text-danger" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-md-2" for="FanteziIplik.IplikKategosiId">iplik Kategosi</label>
                                                <div class="col-md-6">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <input type="hidden"
                                                                   name="FanteziIplik.IplikKategosiId"
                                                                   id="ZetaCodeNormalIplikDto_IplikKategosiId"
                                                                   value="@Model.IplikKategosi.Id" />
                                                            <input type="text"
                                                                   name="FanteziIplik.IplikKategosiName"
                                                                   id="ZetaCodeNormalIplikDto_IplikKategosiName"
                                                                   readonly
                                                                   class="form-control"
                                                                   value="@Model.IplikKategosi.Name" />
                                                            <br />
                                                            <div id="treeIplikKategosiId"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_iplik_sec"> İPLİK SEÇ </a>
                        </h4>
                    </div>
                    <div id="collapse_iplik_sec" class="panel-collapse collapse">
                        <div class="panel-body">
                            <div class="form-horizontal form-bordered form-row-stripped">
                                <div class="form-body">
                                    @{
                                        var normalIplikCount = Model.NormalIplikler.Count;
                                    }
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="normal_iplik_count">İplik No Cinsi</label>
                                        <div class="col-md-6">
                                            <select id="ZetaCodeNormalIplikDto_IplikNoCinsi"
                                                    onchange="javascript:setVisibleIplikNo($(this))"
                                                    name="FanteziIplik.IplikNoCinsi"
                                                    class="form-control">
                                                <option value="">Please Select</option>
                                                @*<option @(Model?.FanteziIplik.IplikNoCinsi == "NE" ? "selected" : string.Empty ) value="NE">NE</option>*@
                                                <option @(Model?.FanteziIplik.IplikNoCinsi == "NM" ? "selected" : string.Empty ) value="NM">NM</option>
                                                <option @(Model?.FanteziIplik.IplikNoCinsi == "DNY" ? "selected" : string.Empty ) value="DNY">DNY</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-2" for="normal_iplik_count">Kaç İplikten Oluşuyor</label>
                                        <div class="col-md-6">
                                            <select id="normal_iplik_count" class="form-control">
                                                <option value="">Please Select</option>
                                                <option @(normalIplikCount == 1 ? "selected" : "") value="1">1</option>
                                                <option @(normalIplikCount == 2 ? "selected" : "") value="2">2</option>
                                                <option @(normalIplikCount == 3 ? "selected" : "") value="3">3</option>
                                                <option @(normalIplikCount == 4 ? "selected" : "") value="4">4</option>
                                                <option @(normalIplikCount == 5 ? "selected" : "") value="5">5</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group ea_iplik_no" style="display: none;">
                                        <label class="control-label col-md-2 ea_iplik_no" for="">Ea</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Model.FanteziIplik.Ne"
                                                                                   , new SelectList(Model.Collections.EaIpliNolar, "Value", "Text", Model.FanteziIplik?.Ea)
                                                                                   , new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group nm_iplik_no" style="display: none;">
                                        <label class="control-label col-md-2 nm_iplik_no" for="">Nm</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Model.FanteziIplik.Nm"
                                   , new SelectList(Model.Collections.NmIpliNolar, "Value", "Text", Model.FanteziIplik?.Nm)
                                   , new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                    <div class="form-group dny_iplik_no" style="display: none;">
                                        <label class="control-label col-md-2 dny_iplik_no" for="">Dny</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Model.FanteziIplik.Nm"
                                           , new SelectList(Model.Collections.DnyIpliNolar, "Value", "Text", Model.FanteziIplik?.Dny)
                                           , new { @class = "form-control select2" })
                                        </div>                                      
                                    </div>
                                    <div class="form-group fl_iplik_no" style="display: none;">
                                        <label class="control-label col-md-2 " for="">Fl</label>
                                        <div class="col-md-6">
                                            @Html.DropDownList("Model.FanteziIplik.Nm"
                                           , new SelectList(Model.Collections.FlIpliNolar, "Value", "Text", Model.FanteziIplik?.Fl)
                                           , new { @class = "form-control select2" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a class="accordion-toggle" href="javascript:void();"> Zeta Code Normal İplikler </a>
                                    </h4>
                                </div>
                                <div class="panel-body">
                                    <div class="form-horizontal form-bordered form-row-stripped">
                                        <div class="form-body">
                                            <div class="mt-repeater">
                                                <div data-repeater-list="FanteziIplik.ZetaCodeNormalIplik">
                                                    @{
                                                        for (int i = 0; i < Model.NormalIplikler.Count; i++)
                                                        {
                                                            
                                                            <text>
                                                                <div data-repeater-item>
                                                                    <div class="mt-repeater-item">
                                                                        <div class="form-group">
                                                                            <div class="row">
                                                                                <div class="col-md-2">
                                                                                </div>
                                                                                <div class="col-md-6">
                                                                                    <input type="hidden"
                                                                                           class="normal_iplik_id"
                                                                                           name="Id"
                                                                                           value="@Model.NormalIplikler[i].Id" />
                                                                                    <br />
                                                                                    @Html.DropDownList("NormalIplik"
                                                                                   , new SelectList(Model.Collections.NormalIplikler, "Value", "Text", Model.NormalIplikler[i].Id.ToString()),"Please Select"
                                                                                   , new { @class = "form-control select2 normal_iplik", @onchange = "setNormalIplikId($(this))" })
                                                                                </div>
                                                                                <div class="col-md-2">
                                                                                    <a href="javascript:;" data-repeater-delete class="btn btn-danger mt-repeater-delete">
                                                                                        <i class="fa fa-close"></i> Delete
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                            <div class="row" id="normal_iplik_form">
                                                                                @Html.Action("GetNormalIplikRenkler", new { normalIplikId = Model.NormalIplikler[i].Id })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </text>
                                                        }
                                                    }
                                                </div>
                                                <a href="javascript:;" data-repeater-create class="btn btn-success mt-repeater-add">
                                                    <i class="fa fa-plus"></i> Add
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </div>
                    </div>
                </div>



                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1" href="#collapse_rafyerleri"> Raf Yerleri </a>
                        </h4>
                    </div>
                    <div id="collapse_rafyerleri" class="panel-collapse collapse">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-body">
                                <div class="panel-body">
                                    <div class="form-group">
                                        <label for="ZetaCodeNormalIplikDto_RafyeriTurkiyeId" class="control-label col-md-2"></label>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                    <input type="hidden"
                                                           name="FanteziIplik.RafyeriTurkiyeId"
                                                           id="ZetaCodeNormalIplikDto_RafyeriTurkiyeId"
                                                           value="@Model.RafyeriTurkiye.Id" />
                                                    <input type="text"
                                                           name="FanteziIplik.RafyeriTurkiyeName"
                                                           id="ZetaCodeNormalIplikDto_RafyeriTurkiyeName"
                                                           readonly
                                                           class="form-control"
                                                           value="@Model.RafyeriTurkiye.Name" />
                                                    <br />
                                                    <div id="treeRafyeriTurkiyeId">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="ZetaCodeNormalIplikDto_RafyeriYunanistanId" class="control-label col-md-2"></label>
                                        <div class="col-md-6">
                                            <div class="panel panel-default">
                                                <div class="panel-body" style="height:200px; overflow-y:auto;">
                                                    <input type="hidden"
                                                           name="FanteziIplik.RafyeriYunanistanId"
                                                           id="ZetaCodeNormalIplikDto_RafyeriYunanistanId"
                                                           value="@Model.RafyeriYunanistan.Id" />
                                                    <input type="text"
                                                           name="FanteziIplik.RafyeriYunanistanName"
                                                           id="ZetaCodeNormalIplikDto_RafyeriYunanistanName"
                                                           class="form-control"
                                                           readonly
                                                           value="@Model.RafyeriYunanistan.Name" />
                                                    <br />
                                                    <div id="treeRafyeriYunanistanId">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-horizontal form-bordered form-row-stripped">
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-2">
                                        <button type="submit" onclick="validateSomeFields()" class="btn green btn-block">
                                            @*<i class="fa fa-pencil"></i>*@ Submit
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>


@section afterGlobalScripts {

    <script>
    
        function validateSomeFields() {

        }

        function setVisibleIplikNo(dll) {
            var self = $(dll);
            if (self.val().length > 0) {
                var iplikNo = self.val();
                if (iplikNo === "DNY") {
                    self.closest(".form-body").find(".dny_iplik_no").show();
                    self.closest(".form-body").find(".nm_iplik_no").hide();
                    self.closest(".form-body").find(".fl_iplik_no").show();
                    if ($("#ZetaCodeNormalIplikDto_IplikKategosiId").val() === "326") {
                        self.closest(".form-body").find(".ea_iplik_no").show();
                    } else {
                        self.closest(".form-body").find(".ea_iplik_no").hide();
                    }
                } else if (iplikNo === "NM") {
                    self.closest(".form-body").find(".dny_iplik_no").hide();
                    self.closest(".form-body").find(".nm_iplik_no").show();
                    self.closest(".form-body").find(".fl_iplik_no").hide();
                    self.closest(".form-body").find(".ea_iplik_no").hide();
                } 
                //326 - ZetaCodeNormalIplikDto_IplikKategosiId

            } else {
                self.closest(".form-body").find(".ne_iplik_no").hide();
                self.closest(".form-body").find(".dny_iplik_no").hide();
                self.closest(".form-body").find(".nm_iplik_no").hide();
                self.closest(".form-body").find(".fl_iplik_no").hide();
                self.closest(".form-body").find(".ea_iplik_no").hide();
            }
        }

        var modulFantezilIplikVm = (function () {

            var ajaxTreeFillTermTree = function (selector, url, valueElement, textElement, changedCallBackFunc) {
                var tmp = $(selector).jstree(true);
                if (tmp) {
                    tmp.destroy();
                }
                $(selector).jstree({
                    'plugins': ['search', 'checkbox', 'wholerow'],
                    'core': {
                        "multiple": false,
                        'data': {
                            'url': function (node) {
                                return url;
                            }
                            //,
                            //'data': function (node) {
                            //    //console.log(node);

                            //    return { 'parent': node.id };
                            //}
                        },
                        'animation': false,
                        //'expand_selected_onload': true,
                        'themes': {
                            'icons': false,
                        }
                    },
                    'search': {
                        'show_only_matches': true,
                        'show_only_matches_children': true
                    },
                    'checkbox': {
                        'keep_selected_style': false,
                        'three_state': false,
                        'cascade': ''
                    }
                });

                $(selector).on('changed.jstree',
                    function (e, data) {
                        var i, j, ids = [], texts = [];
                        for (i = 0, j = data.selected.length; i < j; i++) {
                            var node = data.instance.get_node(data.selected[i]);
                            ids.push(node.id);
                            texts.push(node.text);
                        }
                        debugger;
                        var valueElyafCinsiKalitesi = $(selector).closest(".panel-body").find(valueElement);
                        valueElyafCinsiKalitesi.empty();
                        $(valueElyafCinsiKalitesi).val(ids.join(', '));

                        var txtElyafCinsiKalitesi = $(selector).closest(".panel-body").find(textElement);
                        txtElyafCinsiKalitesi.empty();
                        $(txtElyafCinsiKalitesi).val(texts.join(', '));

                        //$(txtElyafCinsiKalitesi).val(texts.join(', '));


                        if (typeof changedCallBackFunc !== 'undefined') {
                            changedCallBackFunc();
                        }



                    });
            };


            var repeater = function () {
                $('.mt-repeater').each(function () {
                    $(this).repeater({
                        show: function () {


                            if ($('.mt-repeater .normal_iplik').length > parseInt($("#normal_iplik_count").val())) {
                                alert("En fazla " + $("#normal_iplik_count").val() + " adet normal iplik seçilebilir");
                                $(this).remove();
                                return;
                            }


                            $(this).slideDown();

                            //ajaxTreeFillTermTreeRef($(this).find(".treeElyafCinsiKalitesi"), "/ZetaCodeNormalIplik/JSTreeElyafCinsiveKalitesi");

                            //modulFantezilIplikVm.ajaxTreeFillTermTree("#treeElyafCinsiKalitesi", "/ZetaCodeNormalIplik/JSTreeElyafCinsiveKalitesi");



                            $('.mt-repeater .select2-container').remove();

                            $(".mt-repeater .select2").each(function () {

                                $(this).select2({
                                    placeholder: "Please Select",
                                    width: null
                                });


                            });



                            $('.mt-repeater .select2-container').css('width', '100%');

                        },

                        hide: function (deleteElement) {
                            if (confirm('Are you sure you want to delete this element?')) {
                                $(this).slideUp(deleteElement);
                            }
                        },

                        ready: function (setIndexes) {


                        },
                        isFirstItemUndeletable: false

                    });
                })
            };

            var ajaxTreeFillTermTreeRef = function (selector, url) {
                var tmp = selector.jstree(true);
                if (tmp) {
                    tmp.destroy();
                }
                selector.jstree({
                    'plugins': ['search', 'checkbox', 'wholerow'],
                    'core': {
                        "multiple": false,
                        'data': {
                            'url': function (node) {
                                return url;
                            },
                            //'data': function (node) {
                            //    //console.log(node);

                            //    return { 'parent': node.id };
                            //}
                        },
                        'animation': false,
                        //'expand_selected_onload': true,
                        'themes': {
                            'icons': false,
                        }
                    },
                    'search': {
                        'show_only_matches': true,
                        'show_only_matches_children': true
                    },
                    'checkbox': {
                        'keep_selected_style': false,
                        'three_state': false,
                        'cascade': ''
                    }
                });

                selector.on('changed.jstree',
                    function (e, data) {
                        var i, j, ids = [], texts = [];
                        for (i = 0, j = data.selected.length; i < j; i++) {
                            var node = data.instance.get_node(data.selected[i]);
                            ids.push(node.id);
                            texts.push(node.text);
                        }
                        debugger;
                        var txtElyafCinsiKalitesi = $(selector).closest(".panel-body").find("#ElyafCinsiKalitesi");
                        txtElyafCinsiKalitesi.empty();
                        var txtElyafCinsiKalitesiName = $(selector).closest(".panel-body").find("#ElyafCinsiKalitesiName");
                        txtElyafCinsiKalitesiName.empty();
                        debugger;
                        $(txtElyafCinsiKalitesiName).val(texts.join(', '));
                        $(txtElyafCinsiKalitesi).val(ids.join(', '));


                    });


            };




            return {

                ajaxTreeFillTermTree: ajaxTreeFillTermTree,
                ajaxTreeFillTermTreeRef: ajaxTreeFillTermTreeRef,
                repeater: repeater
            };

        })();

        function getNormalIplikRenkler(normalIplikId, containerNormalIplikForm) {
            $.ajax({
                url: "/ZetaCodeFanteziIplik/GetNormalIplikRenkler",
                type: "GET",
                data: { normalIplikId: normalIplikId }
            })
                .done(function (partialViewResult) {
                    $(containerNormalIplikForm).empty();
                    $(containerNormalIplikForm).html(partialViewResult);
                    //$(".mask_number").inputmask('999.99', {
                    //    numericInput: true
                    //}); //123456  =>  â‚¬ ___.__1.234,56
                });
        }


        function refreshIplikNo()
        {

            setVisibleIplikNo($("#ZetaCodeNormalIplikDto_IplikNoCinsi"));
        }

        $(document).ready(function () {

            modulFantezilIplikVm.ajaxTreeFillTermTree("#treeIplikKategosiId", "/ZetaCodeNormalIplik/JSTreeIplikKategorilerFantezi"
                , "#ZetaCodeNormalIplikDto_IplikKategosiId", "#ZetaCodeNormalIplikDto_IplikKategosiName", refreshIplikNo);


            modulFantezilIplikVm.ajaxTreeFillTermTree("#treeRafyeriTurkiyeId", "/ZetaCodeNormalIplik/JSTreeRafyeriTurkiyeId"
                , "#ZetaCodeNormalIplikDto_RafyeriTurkiyeId", "#ZetaCodeNormalIplikDto_RafyeriTurkiyeName");

            modulFantezilIplikVm.ajaxTreeFillTermTree("#treeRafyeriYunanistanId", "/ZetaCodeNormalIplik/JSTreeRafyeriYunanistanId"
                , "#ZetaCodeNormalIplikDto_RafyeriYunanistanId", "#ZetaCodeNormalIplikDto_RafyeriYunanistanName");

            modulFantezilIplikVm.repeater();
        });

    </script>

    @Scripts.Render("~/bundles/jqueryval")
}
