@model Helezon.FollowMe.WebUI.Models.ViewModels.ZetaCodeFanteziIplikVm

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>ZetaCodeFanteziIplik</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ZetaCodeFanteziIplikDto.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.IsPassive, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.IsPassive)
                    @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.IsPassive, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.IplikKategosiId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.IplikKategosiId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.IplikKategosiId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.Master, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.Master)
                    @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.Master, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.ZetaCode, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.ZetaCode, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.ZetaCode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.ZetaCodePrevious, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.ZetaCodePrevious, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.ZetaCodePrevious, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.Ea, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.Ea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.Ea, "", new { @class = "text-danger" })
            </div>
        </div>




        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.Ulke, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.Ulke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.Ulke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.BlueUrunKodIsmi, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.BlueUrunKodIsmi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.BlueUrunKodIsmi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.BlueKod, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.BlueKod, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.BlueKod, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.BlueSiparisNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.BlueSiparisNo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.BlueSiparisNo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.RafyeriTurkiyeId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.RafyeriTurkiyeId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.RafyeriTurkiyeId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ZetaCodeFanteziIplikDto.RafyeriYunanistanId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ZetaCodeFanteziIplikDto.RafyeriYunanistanId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ZetaCodeFanteziIplikDto.RafyeriYunanistanId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
