@model  Helezon.FollowMe.Service.DataTransferObjects.IplikKategoriFlamDto

<div class="form-group">
    <label class="control-label col-md-2" for="FlamlarArasindakiMesafe">
        İki Flam Arasındaki Mesafe:
    </label>
    <div class="col-md-6">
        @Html.Hidden("Flam.Id",Model?.Id)
        @Html.DropDownList("Flam.FlamlarArasindakiMesafe"
       , (IEnumerable<SelectListItem>)ViewBag.Mesafe
       , new { @class = "form-control select2" })
        @*<input type="text"
        class="form-control mask_number transform_none"
        id="Flam_FlamlarArasindakiMesafe"
        value="@Model.FlamlarArasindakiMesafeFormat"
        name="FlamDto.FlamlarArasindakiMesafeFormat">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="FlamUzunlugu">
        Flam Uzunluğu:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("Flam.FlamUzunlugu"
       , (IEnumerable<SelectListItem>)ViewBag.Uzunluk
       , new { @class = "form-control select2" })

        @*<input type="text"
            class="form-control mask_number transform_none"
            id="Flam_FlamUzunlugu"
            value="@Model.FlamUzunluguFormat"
            name="FlamDto.FlamUzunluguFormat">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="FlamYuksekligi">
        Flam Yüksekliği:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("Flam.FlamYuksekligi"
       , (IEnumerable<SelectListItem>)ViewBag.Yukseklik
       , new { @class = "form-control select2" })
        @*<input type="text"
            class="form-control mask_number transform_none"
            id="Flam_FlamYuksekligi"
            value="@Model.FlamYuksekligiFormat"
            name="FlamDto.FlamYuksekligiFormat">*@
    </div>
</div>





