@model  Helezon.FollowMe.Service.DataTransferObjects.IplikKategoriFlamDto

<div class="form-group">
    <label class="control-label col-md-2" for="FlamlarArasindakiMesafe">
        İki Flam Arasındaki Mesafe:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriFlamDto.FlamlarArasindakiMesafeFormat"
       , (IEnumerable<SelectListItem>)ViewBag.Mesafe
       , new { @class = "form-control select2" })
        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriFlam_FlamlarArasindakiMesafe"
        value="@Model.FlamlarArasindakiMesafeFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriFlamDto.FlamlarArasindakiMesafeFormat">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="FlamUzunlugu">
        Flam Uzunluğu:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriFlamDto.FlamUzunluguFormat"
       , (IEnumerable<SelectListItem>)ViewBag.Uzunluk
       , new { @class = "form-control select2" })

        @*<input type="text"
            class="form-control mask_number transform_none"
            id="IplikKategoriFlam_FlamUzunlugu"
            value="@Model.FlamUzunluguFormat"
            name="ZetaCodeNormalIplikDto.IplikKategoriFlamDto.FlamUzunluguFormat">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="FlamYuksekligi">
        Flam Yüksekliği:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriFlamDto.FlamYuksekligiFormat"
       , (IEnumerable<SelectListItem>)ViewBag.Yukseklik
       , new { @class = "form-control select2" })
        @*<input type="text"
            class="form-control mask_number transform_none"
            id="IplikKategoriFlam_FlamYuksekligi"
            value="@Model.FlamYuksekligiFormat"
            name="ZetaCodeNormalIplikDto.IplikKategoriFlamDto.FlamYuksekligiFormat">*@
    </div>
</div>





