@model  Helezon.FollowMe.Service.DataTransferObjects.IplikKategoriKirciliDto
@{

    /*

     ViewBag.Mesafe = ne
     ViewBag.Uzunluk = n
     ViewBag.Yukseklik =

     */

}
<div class="form-group">
    <label class="control-label col-md-2" for="KircillarArasiMesafe">
        İki Kırçıl Arasındaki Mesafe:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriKircili.KircillarArasiMesafe"
       , (IEnumerable<SelectListItem>)ViewBag.Mesafe
       , new { @class = "form-control select2" })

        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriKircili_KircillarArasiMesafe"
        value="@Model.KircillarArasiMesafeFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriKircili.KircillarArasiMesafeFormat">*@
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="KircilUzunlugu">
        Kırçıl Uzunluğu:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriKircili.KircilUzunlugu"
       , (IEnumerable<SelectListItem>)ViewBag.Uzunluk
       , new { @class = "form-control select2" })
        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriKircili_KircilUzunlugu "
        value="@Model.KircilUzunluguFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriKircili.KircilUzunluguFormat">*@
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="KircilYuksekligi">
        Kırçıl Yüksekliği:
    </label>
    <div class="col-md-6">
        @Html.Hidden("ZetaCodeNormalIplikDto.IplikKategoriKircili.Id", Model?.Id)
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriKircili.KircilYuksekligi"
       , (IEnumerable<SelectListItem>)ViewBag.Yukseklik
       , new { @class = "form-control select2" })
        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriKircili_KircilYuksekligi"
        value="@Model.KircilYuksekligiFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriKircili.KircilYuksekligiFormat">*@
    </div>
</div>



