@model  Helezon.FollowMe.Service.DataTransferObjects.IplikKategoriKrepDto

<div class="form-group">
    <label class="control-label col-md-2" for="TurSayisi">
        Tur Sayısı:
    </label>
    <div class="col-md-6">
        @Html.Hidden("Krep.Id", Model?.Id)
        @Html.DropDownList("Krep.TurSayisi"
       , (IEnumerable<SelectListItem>)ViewBag.TurSayisi
       , new { @class = "form-control select2" })

        @*<input type="text"
        class="form-control mask_number transform_none"
        id="Krep_TurSayisi"
        value="@Model.TurSayisiFormat"
        name="Krep.TurSayisiFormat">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="BukumYonu">
        Büküm Yönü:
    </label>
    <div class="col-md-6">
        <select class="form-control "
                name="Krep.BukumYonu"
                id="Krep_BukumYonu">
            <option @(Model?.BukumYonu == "S" ? "selected" : "")>S</option>
            <option @(Model?.BukumYonu == "Z" ? "selected" : "")>Z</option>
        </select>
    </div>
</div>

