@model  Helezon.FollowMe.Service.DataTransferObjects.IplikKategoriNopeliDto

<div class="form-group">
    <label class="control-label col-md-2" for="NoktalarArasiMesafe">
        İki Nokta Arasındaki Mesafe:
    </label>
    <div class="col-md-6">
        
        @Html.Hidden("ZetaCodeNormalIplikDto.IplikKategoriKrep.Id", Model?.Id)
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriNopeli.NoktalarArasiMesafe"
       , (IEnumerable<SelectListItem>)ViewBag.Mesafe
       , new { @class = "form-control select2" })
        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriNopeli_NoktalarArasiMesafe"
        value="@Model.NoktalarArasiMesafeFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriNopeli.NoktalarArasiMesafeFormat">*@
    </div>
</div>
<div class="form-group">
    <label class="control-label col-md-2" for="NoktaUzunlugu">
        Nokta Uzunluğu:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriNopeli.NoktaUzunlugu"
       , (IEnumerable<SelectListItem>)ViewBag.Uzunluk
       , new { @class = "form-control select2" })

        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriNopeli_NoktaUzunlugu"
        value="@Model.NoktaUzunluguFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriNopeli.NoktaUzunluguFormat">*@
    </div>
</div>

<div class="form-group">
    <label class="control-label col-md-2" for="NoktaYuksekligi">
        Nokta Yüksekliği:
    </label>
    <div class="col-md-6">
        @Html.DropDownList("ZetaCodeNormalIplikDto.IplikKategoriNopeli.NoktaYuksekligiFormat"
       , (IEnumerable<SelectListItem>)ViewBag.Yukseklik
       , new { @class = "form-control select2" })
        @*<input type="text"
        class="form-control mask_number transform_none"
        id="IplikKategoriNopeli_NoktaYuksekligi"
        value="@Model.NoktaYuksekligiFormat"
        name="ZetaCodeNormalIplikDto.IplikKategoriNopeli.NoktaYuksekligiFormat">*@
    </div>
</div>



