@model FollowMe.Web.Models.Person

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Person</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Company.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Company.Name)
        </dd>

        <dt>
            Departments
        </dt>
        <dd>
            @(Model.Departments != null ? Model.Departments.TermName : string.Empty)
        </dd>
        <dt>
            Positions
        </dt>
        <dd>
            @(Model.Positions != null ? Model.Positions.TermName : string.Empty)
        </dd>   
        <dt>
            Regions
        </dt>
        <dd>
            @(Model.Regions != null ? Model.Regions.TermName : string.Empty)

        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.Tckn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tckn)
        </dd>       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
